In [1]:
import pandas as pd
import numpy as np
import glob
from Predicting_Purchase_Intention.utils.clean_data import clean_data
import datetime

#from google.cloud import bigquery
#client = bigquery.Client()
#from Predicting_Purchase_Intention.utils.get_data import get_raw_data

In [2]:
#df = get_raw_data(project='wagon-bootcamp-6515',
#                 query="""
#                       SELECT *
#                      FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_20210130`
#                       """,
#                 drop=True)

In [9]:
path = '/home/alex/code/alexhalenke/15days'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    frame = pd.read_csv(filename, index_col=None, header=0, )
    li.append(frame)
df = pd.concat(li, axis=0, ignore_index=True)

/tmp/ipykernel_2451/3334580320.py:5: DtypeWarning: Columns (71,87) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )
/tmp/ipykernel_2451/3334580320.py:5: DtypeWarning: Columns (82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )

In [10]:
df.head()

,Unnamed: 0,event_date,event_timestamp,event_name,event_params,event_previous_timestamp,event_value_in_usd,event_bundle_sequence_id,event_server_timestamp_offset,user_id,...,event_params_search_term,event_params_unique_search_term,event_params_currency,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_payment_type,event_params_tax
0,0,20201101,1604192073036492,page_view,"[{'key': 'page_title', 'value': {'string_value...",NaN,NaN,2351439526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20201101,1604192073036492,first_visit,"[{'key': 'session_engaged', 'value': {'string_...",NaN,NaN,2351439526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20201101,1604192082302672,user_engagement,"[{'key': 'dclid', 'value': {'string_value': No...",NaN,NaN,-4853805495,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20201101,1604192073036492,session_start,"[{'key': 'page_location', 'value': {'string_va...",NaN,NaN,2351439526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20201101,1604202750089608,user_engagement,"[{'key': 'all_data', 'value': {'string_value':...",NaN,NaN,7473184003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
clean_data(df)

,event_date,event_timestamp,event_name,event_value_in_usd,event_bundle_sequence_id,user_pseudo_id,user_first_touch_timestamp,event_params_page_title,event_params_page_location,event_params_ga_session_number,...,event_params_source,event_params_campaign,event_params_medium,event_params_page_referrer,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_tax
0,20201101,1604192073036492,page_view,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20201101,1604192073036492,first_visit,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20201101,1604192082302672,user_engagement,NaN,-4853805495,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20201101,1604192073036492,session_start,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20201101,1604202750089608,user_engagement,NaN,7473184003,1.013443e+06,1.604203e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79655,20201102,1604336707580180,select_promotion,NaN,-5917426493,7.944188e+07,1.604337e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79656,20201102,1604336687302710,view_promotion,NaN,4054761781,7.944188e+07,1.604337e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79657,20201102,1604332912118456,view_promotion,NaN,-7625797806,8.833995e+07,1.604333e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79658,20201102,1604287027963149,view_promotion,NaN,-2018623857,6.590983e+09,1.603700e+15,Home,https://shop.googlemerchandisestore.com/,2.0,...,(data deleted),(data deleted),(data deleted),NaN,NaN,NaN,NaN,NaN,NaN,NaN
79659,20201102,1604358777036389,view_promotion,NaN,8972943670,9.282839e+09,1.604359e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Input Target Variable

In [12]:
purchasers = list(df[df['event_name']=='purchase']['user_pseudo_id'])

In [13]:
purchasers

[1494018.5183133776,
 4075022.322763347,
 29640692.950752266,
 29640692.950752266,
 70761379.0400305,
 7905299837.694994,
 2422026.0165722608,
 36638696.402929574,
 38686208.21256037,
 68689240.07410711,
 3297046.650955342,
 6828468.169520351,
 40765276.603398316,
 33027284.29749946,
 1441375.7353918687,
 5448801.122824885,
 5963534.4700679025,
 5963534.4700679025,
 5963534.4700679025,
 5963534.4700679025,
 7853261.62424396,
 40418512.32781263,
 40419717.43175887,
 41280451.596669726,
 68765362.45957506,
 82592841.50414957,
 1534773.3101496827,
 3002649.269862531,
 3051995.7094224226,
 5906845.812634381,
 6959133.0796529455,
 14297513.270547625,
 31613618.499320973,
 39443462.98522469,
 76792644.63517305,
 77977792.01915273,
 77977792.01915273,
 7644155580.39156,
 1525779.2780994636,
 1534773.3101496827,
 5299488.052249,
 5649103.123582516,
 21503964.58962551,
 62738775.47297522,
 87326376.75965929,
 1482564.3987701428,
 4941025.103768973,
 10295267.881826911,
 69986145.53999192,
 83008565.98820877,
 88155637.30761802,
 89492716.53864375,
 91518233.27911039,
 7128823.177674071,
 7186879.84461394,
 8620049.65671044,
 10295267.881826911,
 10295267.881826911,
 10295267.881826911,
 51248671.813389815,
 91518233.27911039,
 43435921.9728598,
 10295267.881826911]

In [14]:
df['target_variable'] = None

In [9]:
for i in purchasers:
    for index, row in df[df['user_pseudo_id']==i].iterrows():
        df['target_variable'].iloc[index]=1

/tmp/ipykernel_549/2408224165.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target_variable'].iloc[index]=1

In [10]:
df.target_variable = df.target_variable.fillna(0)

In [11]:
df['target_variable'].value_counts()

0    73985
1     5675
Name: target_variable, dtype: int64

## Deleteing Transactions after purchase

In [12]:
len(df)

79660

In [13]:
df.columns

Index(['event_date', 'event_timestamp', 'event_name', 'event_value_in_usd',
       'event_bundle_sequence_id', 'user_pseudo_id',
       'user_first_touch_timestamp', 'event_params_page_title',
       'event_params_page_location', 'event_params_ga_session_number',
       'event_params_engaged_session_event', 'event_params_session_engaged',
       'event_params_ga_session_id', 'user_ltv_revenue', 'device_category',
       'device_mobile_brand_name', 'device_mobile_model_name',
       'device_operating_system', 'device_operating_system_version',
       'device_language', 'device_web_info_browser',
       'device_web_info_browser_version', 'geo_continent', 'geo_sub_continent',
       'geo_country', 'geo_region', 'geo_city', 'traffic_source_medium',
       'traffic_source_name', 'traffic_source_source',
       'ecommerce_total_item_quantity', 'ecommerce_purchase_revenue_in_usd',
       'ecommerce_purchase_revenue', 'ecommerce_tax_value_in_usd',
       'ecommerce_tax_value', 'ecommerce_unique_items',
       'event_params_engagement_time_msec', 'event_params_source',
       'event_params_campaign', 'event_params_medium',
       'event_params_page_referrer', 'event_params_outbound',
       'event_params_link_domain', 'event_params_link_url',
       'event_params_transaction_id', 'event_params_value', 'event_params_tax',
       'target_variable'],
      dtype='object')

In [15]:
test1 = df[df['event_params_engagement_time_msec']>0][['user_pseudo_id','event_params_engagement_time_msec']]

In [16]:
pd.DataFrame(test1).sort_values

<bound method DataFrame.sort_values of        user_pseudo_id  event_params_engagement_time_msec
2        1.005695e+06                             9215.0
4        1.013443e+06                             6268.0
5        1.013443e+06                             6555.0
11       1.013443e+06                             3874.0
12       1.013443e+06                              139.0
...               ...                                ...
79654    7.858978e+07                               70.0
79655    7.944188e+07                            25094.0
79656    7.944188e+07                              134.0
79657    8.833995e+07                               12.0
79658    6.590983e+09                              155.0

[42423 rows x 2 columns]>

In [37]:
df['event_timestamp'] = pd.to_datetime(df['event_timestamp'], unit='us')

In [38]:
pd.to_datetime(df['event_date'],yearfirst=True, format='%Y%m%d')

0       2020-11-01
1       2020-11-01
2       2020-11-01
3       2020-11-01
4       2020-11-01
           ...
79655   2020-11-02
79656   2020-11-02
79657   2020-11-02
79658   2020-11-02
79659   2020-11-02
Name: event_date, Length: 79660, dtype: datetime64[ns]

In [39]:
df.head()

,event_date,event_timestamp,event_name,event_value_in_usd,event_bundle_sequence_id,user_pseudo_id,user_first_touch_timestamp,event_params_page_title,event_params_page_location,event_params_ga_session_number,...,event_params_campaign,event_params_medium,event_params_page_referrer,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_tax,target_variable
0,20201101,2020-11-01 00:54:33.036492,page_view,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,20201101,2020-11-01 00:54:33.036492,first_visit,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,20201101,2020-11-01 00:54:42.302672,user_engagement,NaN,-4853805495,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,20201101,2020-11-01 00:54:33.036492,session_start,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,20201101,2020-11-01 03:52:30.089608,user_engagement,NaN,7473184003,1.013443e+06,1.604203e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [40]:
df['purchase_timestamp'] = None

In [17]:
last_event = df[df['event_name']=='purchase'][['user_pseudo_id','event_timestamp']]

In [42]:
event_dict

NameError: name 'event_dict' is not defined

In [53]:
df['check'] = df.apply(lambda x: 'drop' if )

SyntaxError: invalid syntax (1904118959.py, line 1)

In [18]:
df_merge = df.merge(last_event, on='user_pseudo_id', how='left')

In [19]:
df_merge.shape

(82061, 49)

In [20]:
df_merge['event_timestamp_y'].value_counts()

1.604360e+15    382
1.604361e+15    382
1.604306e+15    303
1.604311e+15    303
1.604310e+15    303
               ...
1.604318e+15     43
1.604237e+15     41
1.604211e+15     41
1.604319e+15     38
1.604355e+15     32
Name: event_timestamp_y, Length: 63, dtype: int64

In [21]:
df_new = df_merge.drop(df_merge[df_merge.event_timestamp_x > df_merge.event_timestamp_y].index)

In [22]:
df_new.shape

(80942, 49)

In [57]:
#For timestamp at which the purchase happened, delete everything that happened after it for the pseudo_id

In [58]:
#def convert_date_timestamps(df):
#    for column in df:
#        if 'event_date' in column:
#            df[column] = pd.to_datetime(df[column])
#        if 'event_timestamp' in column:
#            df[column] = pd.to_datetime(df[column], unit='us')
#   return df

In [59]:
#convert_date_timestamps(df)

In [60]:
#def convert_date_timestamps(df):
#    for column in df:
#        if 'date' in column:
#            df[column] = pd.to_datetime(df[column])
#        if 'timestamp' in column:
#            df[column] = pd.to_datetime(df[column], unit='us')
#    return df

In [61]:
#for i in df:
#    print(i ,  df[i].nunique())

## Get delete the Time Columns

In [62]:
df.columns

Index(['event_date', 'event_timestamp', 'event_name', 'event_value_in_usd',
       'event_bundle_sequence_id', 'user_pseudo_id',
       'user_first_touch_timestamp', 'event_params_page_title',
       'event_params_page_location', 'event_params_ga_session_number',
       'event_params_engaged_session_event', 'event_params_session_engaged',
       'event_params_ga_session_id', 'user_ltv_revenue', 'device_category',
       'device_mobile_brand_name', 'device_mobile_model_name',
       'device_operating_system', 'device_operating_system_version',
       'device_language', 'device_web_info_browser',
       'device_web_info_browser_version', 'geo_continent', 'geo_sub_continent',
       'geo_country', 'geo_region', 'geo_city', 'traffic_source_medium',
       'traffic_source_name', 'traffic_source_source',
       'ecommerce_total_item_quantity', 'ecommerce_purchase_revenue_in_usd',
       'ecommerce_purchase_revenue', 'ecommerce_tax_value_in_usd',
       'ecommerce_tax_value', 'ecommerce_unique_items',
       'event_params_engagement_time_msec', 'event_params_source',
       'event_params_campaign', 'event_params_medium',
       'event_params_page_referrer', 'event_params_outbound',
       'event_params_link_domain', 'event_params_link_url',
       'event_params_transaction_id', 'event_params_value', 'event_params_tax',
       'target_variable', 'purchase_timestamp'],
      dtype='object')

In [63]:
df_new_timefeatures = df_new[['event_name','user_pseudo_id','event_date', 'event_timestamp_x', 'user_first_touch_timestamp', 'event_params_ga_session_number', 'event_params_ga_session_id','target_variable', 'event_params_engagement_time_msec' ]]

In [64]:
df_new_timefeatures.head()

,event_name,user_pseudo_id,event_date,event_timestamp_x,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable,event_params_engagement_time_msec
0,page_view,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
1,first_visit,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
2,user_engagement,1.005695e+06,20201101,2020-11-01 00:54:42.302672,1.604192e+15,1.0,4.863245e+09,0,9215.0
3,session_start,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
4,user_engagement,1.013443e+06,20201101,2020-11-01 03:52:30.089608,1.604203e+15,1.0,1.129172e+09,0,6268.0

In [65]:
df_visits_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'max'}).reset_index().rename(columns={'event_params_ga_session_number': 'visits_per_visitor'})

In [66]:
df_visits_per_visitor

      user_pseudo_id  visits_per_visitor
0       1.001569e+06                 1.0
1       1.005695e+06                 1.0
2       1.007877e+06                 2.0
3       1.011832e+06                 1.0
4       1.013443e+06                 1.0
...              ...                 ...
5494    9.174861e+09                 1.0
5495    9.207850e+09                 1.0
5496    9.273656e+09                 1.0
5497    9.282839e+09                 1.0
5498    9.657667e+09                 1.0

[5499 rows x 2 columns]

In [80]:
df_visits_per_visitor.sort_values(by='event_params_ga_session_number' ,ascending=True)

KeyError: 'event_params_ga_session_number'

In [81]:
df_pageviews = df_new_timefeatures[df_new_timefeatures['event_name']=='page_view'][['user_pseudo_id', 'event_name','event_date' ]]

In [82]:
df_pageviews_per_visitor = pd.pivot_table(data=df_pageviews, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'page_views'})

In [83]:
df_pageviews_per_visitor

      user_pseudo_id  page_views
0       1.001569e+06           2
1       1.005695e+06           1
2       1.007877e+06           1
3       1.011832e+06           2
4       1.013443e+06           3
...              ...         ...
5378    9.174861e+09           2
5379    9.207850e+09           1
5380    9.273656e+09           1
5381    9.282839e+09           1
5382    9.657667e+09           3

[5383 rows x 2 columns]

In [84]:
df_events_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'count'}).reset_index().rename(columns={'event_params_ga_session_number': 'events_per_visitor'})

In [85]:
df_events_per_visitor

      user_pseudo_id  events_per_visitor
0       1.001569e+06                   7
1       1.005695e+06                   4
2       1.007877e+06                   3
3       1.011832e+06                   5
4       1.013443e+06                  10
...              ...                 ...
5494    9.174861e+09                   7
5495    9.207850e+09                   3
5496    9.273656e+09                   3
5497    9.282839e+09                   6
5498    9.657667e+09                   9

[5499 rows x 2 columns]

In [86]:
df_new_timefeatures

,event_name,user_pseudo_id,event_date,event_timestamp_x,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable,event_params_engagement_time_msec
0,page_view,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
1,first_visit,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
2,user_engagement,1.005695e+06,20201101,2020-11-01 00:54:42.302672,1.604192e+15,1.0,4.863245e+09,0,9215.0
3,session_start,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
4,user_engagement,1.013443e+06,20201101,2020-11-01 03:52:30.089608,1.604203e+15,1.0,1.129172e+09,0,6268.0
...,...,...,...,...,...,...,...,...,...
82056,select_promotion,7.944188e+07,20201102,2020-11-02 17:05:07.580180,1.604337e+15,1.0,9.754513e+09,0,25094.0
82057,view_promotion,7.944188e+07,20201102,2020-11-02 17:04:47.302710,1.604337e+15,1.0,9.754513e+09,0,134.0
82058,view_promotion,8.833995e+07,20201102,2020-11-02 16:01:52.118456,1.604333e+15,1.0,6.040210e+09,0,12.0
82059,view_promotion,6.590983e+09,20201102,2020-11-02 03:17:07.963149,1.603700e+15,2.0,1.785597e+09,0,155.0
82060,view_promotion,9.282839e+09,20201102,2020-11-02 23:12:57.036389,1.604359e+15,1.0,9.834007e+09,0,NaN

In [87]:
df_engagement_time_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_engagement_time_msec':'sum'}).reset_index().rename(columns={'event_params_engagement_time_msec': 'engagement_time_per_visitor'})

In [88]:
df_engagement_time_per_visitor

      user_pseudo_id  engagement_time_per_visitor
0       1.001569e+06                      51304.0
1       1.005695e+06                       9215.0
2       1.007877e+06                         53.0
3       1.011832e+06                      11984.0
4       1.013443e+06                      21105.0
...              ...                          ...
5494    9.174861e+09                       7615.0
5495    9.207850e+09                          0.0
5496    9.273656e+09                          0.0
5497    9.282839e+09                       7417.0
5498    9.657667e+09                      79215.0

[5499 rows x 2 columns]

In [89]:
df_clicks = df_new_timefeatures[df_new_timefeatures['event_name']=='click'][['user_pseudo_id', 'event_name','event_date' ]]

In [90]:
df_clicks_per_visitor = pd.pivot_table(data=df_clicks, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'clicks'})

In [91]:
df_clicks_per_visitor.shape

(29, 2)

In [92]:
df_user_engagement = df_new_timefeatures[df_new_timefeatures['event_name']=='user_engagement'][['user_pseudo_id', 'event_name','event_date' ]]

In [93]:
df_user_engagements_visitor = pd.pivot_table(data=df_user_engagement, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'user_engagements'})

In [94]:
df_user_engagements_visitor

      user_pseudo_id  user_engagements
0       1.001569e+06                 1
1       1.005695e+06                 1
2       1.011832e+06                 1
3       1.013443e+06                 3
4       1.014060e+06                 1
...              ...               ...
4338    8.965679e+09                 5
4339    9.058242e+09                 1
4340    9.174861e+09                 2
4341    9.282839e+09                 1
4342    9.657667e+09                 2

[4343 rows x 2 columns]

In [95]:
df_scrollings = df_new_timefeatures[df_new_timefeatures['event_name']=='scroll'][['user_pseudo_id', 'event_name','event_date' ]]

In [96]:
df_scrollings_visitor = pd.pivot_table(data=df_scrollings, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'scrolls'})

In [97]:
df_scrollings_visitor

      user_pseudo_id  scrolls
0       1.007877e+06        1
1       1.019517e+06        2
2       1.021794e+06        2
3       1.023946e+06        1
4       1.026399e+06        8
...              ...      ...
3006    8.965679e+09        2
3007    8.976092e+09        1
3008    9.174861e+09        1
3009    9.282839e+09        1
3010    9.657667e+09        1

[3011 rows x 2 columns]

## JOINING for Basic Model

In [98]:
df_new_timefeatures

,event_name,user_pseudo_id,event_date,event_timestamp_x,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable,event_params_engagement_time_msec
0,page_view,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
1,first_visit,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
2,user_engagement,1.005695e+06,20201101,2020-11-01 00:54:42.302672,1.604192e+15,1.0,4.863245e+09,0,9215.0
3,session_start,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
4,user_engagement,1.013443e+06,20201101,2020-11-01 03:52:30.089608,1.604203e+15,1.0,1.129172e+09,0,6268.0
...,...,...,...,...,...,...,...,...,...
82056,select_promotion,7.944188e+07,20201102,2020-11-02 17:05:07.580180,1.604337e+15,1.0,9.754513e+09,0,25094.0
82057,view_promotion,7.944188e+07,20201102,2020-11-02 17:04:47.302710,1.604337e+15,1.0,9.754513e+09,0,134.0
82058,view_promotion,8.833995e+07,20201102,2020-11-02 16:01:52.118456,1.604333e+15,1.0,6.040210e+09,0,12.0
82059,view_promotion,6.590983e+09,20201102,2020-11-02 03:17:07.963149,1.603700e+15,2.0,1.785597e+09,0,155.0
82060,view_promotion,9.282839e+09,20201102,2020-11-02 23:12:57.036389,1.604359e+15,1.0,9.834007e+09,0,NaN

In [99]:
df_for_target_variable = df_new_timefeatures.groupby(by='user_pseudo_id').sum()
df_for_target_variable

,event_date,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable,event_params_engagement_time_msec
user_pseudo_id,,,,,,
1.001569e+06,141407714,1.123039e+16,7.0,4.490903e+09,0,51304.0
1.005695e+06,80804404,6.416768e+15,4.0,1.945298e+10,0,9215.0
1.007877e+06,60603306,4.811288e+15,6.0,1.342849e+10,0,53.0
1.011832e+06,101005510,8.021447e+15,5.0,4.834604e+10,0,11984.0
1.013443e+06,202011010,1.604203e+16,10.0,1.129172e+10,0,21105.0
...,...,...,...,...,...,...
9.174861e+09,141407707,1.122945e+16,7.0,6.039465e+10,0,7615.0
9.207850e+09,60603306,4.812892e+15,3.0,2.684322e+10,0,0.0
9.273656e+09,60603303,4.812630e+15,3.0,1.382223e+10,0,0.0
9.282839e+09,121206612,9.626153e+15,6.0,5.900404e+10,0,7417.0
9.657667e+09,181809909,1.443837e+16,9.0,4.142008e+09,0,79215.0

In [100]:
df_new_byvisitors = df_visits_per_visitor.merge(df_pageviews_per_visitor,on='user_pseudo_id', how='outer').merge(df_events_per_visitor,on='user_pseudo_id', how='outer').merge(df_engagement_time_per_visitor,on='user_pseudo_id', how='outer').merge(df_clicks_per_visitor,on='user_pseudo_id', how='outer').merge(df_user_engagements_visitor,on='user_pseudo_id', how='outer').merge(df_scrollings_visitor,on='user_pseudo_id', how='outer').merge(df_for_target_variable[['target_variable']], how='left',on='user_pseudo_id')

In [101]:
df_new_byvisitors

,user_pseudo_id,visits_per_visitor,page_views,events_per_visitor,engagement_time_per_visitor,clicks,user_engagements,scrolls,target_variable
0,1.001569e+06,1.0,2.0,7,51304.0,NaN,1.0,NaN,0
1,1.005695e+06,1.0,1.0,4,9215.0,NaN,1.0,NaN,0
2,1.007877e+06,2.0,1.0,3,53.0,NaN,NaN,1.0,0
3,1.011832e+06,1.0,2.0,5,11984.0,NaN,1.0,NaN,0
4,1.013443e+06,1.0,3.0,10,21105.0,NaN,3.0,NaN,0
...,...,...,...,...,...,...,...,...,...
5494,9.174861e+09,1.0,2.0,7,7615.0,NaN,2.0,1.0,0
5495,9.207850e+09,1.0,1.0,3,0.0,NaN,NaN,NaN,0
5496,9.273656e+09,1.0,1.0,3,0.0,NaN,NaN,NaN,0
5497,9.282839e+09,1.0,1.0,6,7417.0,NaN,1.0,1.0,0
5498,9.657667e+09,1.0,3.0,9,79215.0,NaN,2.0,1.0,0

In [102]:
df_new_byvisitors[df_new_byvisitors['target_variable'] > 0]

,user_pseudo_id,visits_per_visitor,page_views,events_per_visitor,engagement_time_per_visitor,clicks,user_engagements,scrolls,target_variable
134,1.441376e+06,1.0,17.0,58,505228.0,NaN,16.0,12.0,58
152,1.482564e+06,15.0,61.0,185,1286122.0,NaN,56.0,40.0,185
155,1.494019e+06,1.0,32.0,96,502939.0,NaN,25.0,14.0,96
162,1.525779e+06,2.0,35.0,117,1017528.0,NaN,32.0,20.0,117
166,1.534773e+06,6.0,179.0,625,7889530.0,NaN,169.0,64.0,625
412,2.422026e+06,4.0,33.0,102,607257.0,NaN,31.0,15.0,102
584,3.002649e+06,2.0,15.0,53,247929.0,NaN,14.0,12.0,53
593,3.051996e+06,2.0,19.0,66,1043034.0,NaN,18.0,10.0,66
658,3.297047e+06,1.0,12.0,41,637935.0,NaN,11.0,3.0,41
855,4.075022e+06,2.0,9.0,30,225259.0,NaN,8.0,4.0,30
1094,4.941025e+06,19.0,90.0,269,1464742.0,NaN,88.0,29.0,269
1199,5.299488e+06,5.0,11.0,42,531882.0,NaN,10.0,5.0,42
1239,5.448801e+06,7.0,18.0,55,656951.0,NaN,17.0,5.0,55
1290,5.649103e+06,3.0,47.0,154,1654278.0,NaN,45.0,26.0,154
1371,5.906846e+06,1.0,26.0,84,685482.0,NaN,25.0,13.0,84
1391,5.963534e+06,6.0,87.0,335,2805033.0,NaN,83.0,73.0,335
1640,6.828468e+06,1.0,31.0,109,1217764.0,NaN,29.0,23.0,109
1675,6.959133e+06,1.0,36.0,118,650401.0,NaN,35.0,23.0,118
1718,7.128823e+06,2.0,13.0,47,348437.0,NaN,12.0,10.0,47
1735,7.186880e+06,1.0,17.0,61,565455.0,NaN,16.0,8.0,61
1920,7.853262e+06,2.0,19.0,64,604932.0,NaN,18.0,9.0,64
2150,8.620050e+06,1.0,41.0,129,961842.0,NaN,39.0,10.0,129
2322,1.029527e+07,5.0,311.0,1054,11998794.0,NaN,306.0,134.0,1054
2455,1.429751e+07,3.0,17.0,53,251796.0,NaN,15.0,5.0,53
2706,2.150396e+07,3.0,21.0,67,511183.0,NaN,20.0,8.0,67
2995,2.964069e+07,1.0,41.0,133,2204285.0,NaN,38.0,18.0,133
3062,3.161362e+07,2.0,28.0,95,1363399.0,NaN,27.0,17.0,95
3109,3.302728e+07,2.0,28.0,100,589061.0,NaN,25.0,21.0,100
3240,3.663870e+07,1.0,36.0,104,913547.0,NaN,35.0,6.0,104
3324,3.868621e+07,2.0,51.0,168,1240551.0,NaN,49.0,20.0,168
3352,3.944346e+07,3.0,43.0,158,1798537.0,NaN,41.0,18.0,158
3396,4.041851e+07,3.0,32.0,106,563514.0,NaN,32.0,16.0,106
3397,4.041972e+07,3.0,11.0,38,221519.0,NaN,11.0,7.0,38
3413,4.076528e+07,1.0,17.0,52,301011.0,NaN,16.0,3.0,52
3440,4.128045e+07,1.0,16.0,52,1262793.0,NaN,14.0,12.0,52
3509,4.343592e+07,4.0,36.0,137,995569.0,NaN,35.0,20.0,137
3773,5.124867e+07,8.0,15.0,56,249334.0,1.0,15.0,10.0,56
4171,6.273878e+07,1.0,22.0,75,353142.0,NaN,20.0,14.0,75
4399,6.868924e+07,3.0,51.0,160,931698.0,NaN,50.0,28.0,160
4404,6.876536e+07,1.0,13.0,45,419708.0,NaN,12.0,9.0,45
4441,6.998615e+07,5.0,93.0,277,1475523.0,NaN,81.0,39.0,277
4462,7.076138e+07,18.0,28.0,96,673943.0,NaN,27.0,20.0,96
4656,7.679264e+07,21.0,24.0,78,584524.0,NaN,20.0,10.0,78
4710,7.797779e+07,4.0,104.0,319,3666854.0,NaN,96.0,48.0,319
4875,8.259284e+07,1.0,15.0,48,538651.0,NaN,14.0,5.0,48
4888,8.300857e+07,1.0,14.0,49,298459.0,NaN,13.0,7.0,49
5053,8.732638e+07,4.0,29.0,107,870665.0,NaN,28.0,16.0,107
5088,8.815564e+07,2.0,13.0,46,467475.0,NaN,12.0,8.0,46
5129,8.949272e+07,1.0,8.0,30,210606.0,NaN,7.0,3.0,30
5192,9.151823e+07,1.0,76.0,284,1918602.0,NaN,73.0,37.0,284
5450,7.644156e+09,3.0,24.0,87,747039.0,NaN,23.0,19.0,87
5452,7.905300e+09,2.0,15.0,43,313873.0,NaN,12.0,3.0,43

In [103]:
#import os  
#os.makedirs('/home/alex/code/alexhalenke/', exist_ok=True)  
#df_new_byvisitors.to_csv('/home/alex/code/alexhalenke/first_basic_model.csv')

## One Hot Encoding

In [104]:
df.columns

Index(['event_date', 'event_timestamp', 'event_name', 'event_value_in_usd',
       'event_bundle_sequence_id', 'user_pseudo_id',
       'user_first_touch_timestamp', 'event_params_page_title',
       'event_params_page_location', 'event_params_ga_session_number',
       'event_params_engaged_session_event', 'event_params_session_engaged',
       'event_params_ga_session_id', 'user_ltv_revenue', 'device_category',
       'device_mobile_brand_name', 'device_mobile_model_name',
       'device_operating_system', 'device_operating_system_version',
       'device_language', 'device_web_info_browser',
       'device_web_info_browser_version', 'geo_continent', 'geo_sub_continent',
       'geo_country', 'geo_region', 'geo_city', 'traffic_source_medium',
       'traffic_source_name', 'traffic_source_source',
       'ecommerce_total_item_quantity', 'ecommerce_purchase_revenue_in_usd',
       'ecommerce_purchase_revenue', 'ecommerce_tax_value_in_usd',
       'ecommerce_tax_value', 'ecommerce_unique_items',
       'event_params_engagement_time_msec', 'event_params_source',
       'event_params_campaign', 'event_params_medium',
       'event_params_page_referrer', 'event_params_outbound',
       'event_params_link_domain', 'event_params_link_url',
       'event_params_transaction_id', 'event_params_value', 'event_params_tax',
       'target_variable', 'purchase_timestamp'],
      dtype='object')

In [36]:
df_ohe = df_new.drop(columns=['event_value_in_usd','event_bundle_sequence_id','event_date', 'event_timestamp_x', 'user_first_touch_timestamp', 'event_params_ga_session_number', 'event_params_ga_session_id','target_variable', 'event_params_engagement_time_msec'], axis=1)

In [24]:
len(df_ohe['event_name'].unique())

16

In [25]:
16*343

5488

In [26]:
len(df_ohe['event_params_page_title'].unique())

343

In [27]:
df_ohe

,event_name,user_pseudo_id,event_params_page_title,event_params_page_location,event_params_engaged_session_event,event_params_session_engaged,user_ltv_revenue,device_category,device_mobile_brand_name,device_mobile_model_name,...,event_params_campaign,event_params_medium,event_params_page_referrer,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_tax,event_timestamp_y
0,page_view,1.005695e+06,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,0.0,0.0,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,first_visit,1.005695e+06,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,1.0,0.0,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,user_engagement,1.005695e+06,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,0.0,0.0,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,session_start,1.005695e+06,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,NaN,0.0,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,user_engagement,1.013443e+06,Home,https://shop.googlemerchandisestore.com/,1.0,0.0,0.0,mobile,Samsung,<Other>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82056,select_promotion,7.944188e+07,Home,https://shop.googlemerchandisestore.com/,1.0,1.0,0.0,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82057,view_promotion,7.944188e+07,Home,https://shop.googlemerchandisestore.com/,1.0,0.0,0.0,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82058,view_promotion,8.833995e+07,Home,https://shop.googlemerchandisestore.com/,1.0,0.0,0.0,mobile,Apple,iPhone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82059,view_promotion,6.590983e+09,Home,https://shop.googlemerchandisestore.com/,NaN,0.0,0.0,desktop,Apple,Safari,...,(data deleted),(data deleted),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82060,view_promotion,9.282839e+09,Home,https://shop.googlemerchandisestore.com/,1.0,0.0,0.0,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_ohe.groupby(['event_name','event_params_page_title']).count()

                                                                      user_pseudo_id  \
event_name          event_params_page_title
add_payment_info    Payment Method                                               261
add_shipping_info   Checkout Your Information                                    395
                    Page Unavailable                                               5
add_to_cart         Apparel | Google Merchandise Store                             4
begin_checkout      Checkout Your Information                                    395
...                                                                              ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                    2
                    Drinkware | Lifestyle | Google Merchandise Store               3
                    Womens | Apparel | Google Merchandise Store                    2
view_promotion      Home                                                        3777
view_search_results Store search results                                         389

                                                                      event_params_page_location  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                           261
add_shipping_info   Checkout Your Information                                                395
                    Page Unavailable                                                           5
add_to_cart         Apparel | Google Merchandise Store                                         4
begin_checkout      Checkout Your Information                                                395
...                                                                                          ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                                2
                    Drinkware | Lifestyle | Google Merchandise Store                           3
                    Womens | Apparel | Google Merchandise Store                                2
view_promotion      Home                                                                    3777
view_search_results Store search results                                                     389

                                                                      event_params_engaged_session_event  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                                   261
add_shipping_info   Checkout Your Information                                                        391
                    Page Unavailable                                                                   5
add_to_cart         Apparel | Google Merchandise Store                                                 4
begin_checkout      Checkout Your Information                                                        391
...                                                                                                  ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                                        1
                    Drinkware | Lifestyle | Google Merchandise Store                                   3
                    Womens | Apparel | Google Merchandise Store                                        2
view_promotion      Home                                                                            3619
view_search_results Store search results                                                             376

                                                                      event_params_session_engaged  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                             261
add_shipping_info   Checkout Your Information                                                  395
                    Page Unavailable                                                             5
add_to_cart         Apparel | Google Merchandise Store                                           4
begin_checkout      Checkout Your Information                                                  395
...                                                                                            ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                                  2
                    Drinkware | Lifestyle | Google Merchandise Store                             3
                    Womens | Apparel | Google Merchandise Store                                  2
view_promotion      Home                                                                      3777
view_search_results Store search results                                                       389

                                                                      user_ltv_revenue  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                 261
add_shipping_info   Checkout Your Information                                      395
                    Page Unavailable                                                 5
add_to_cart         Apparel | Google Merchandise Store                               4
begin_checkout      Checkout Your Information                                      395
...                                                                                ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                      2
                    Drinkware | Lifestyle | Google Merchandise Store                 3
                    Womens | Apparel | Google Merchandise Store                      2
view_promotion      Home                                                          3777
view_search_results Store search results                                           389

                                                                      device_category  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                261
add_shipping_info   Checkout Your Information                                     395
                    Page Unavailable                                                5
add_to_cart         Apparel | Google Merchandise Store                              4
begin_checkout      Checkout Your Information                                     395
...                                                                               ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                     2
                    Drinkware | Lifestyle | Google Merchandise Store                3
                    Womens | Apparel | Google Merchandise Store                     2
view_promotion      Home                                                         3777
view_search_results Store search results                                          389

                                                                      device_mobile_brand_name  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                         261
add_shipping_info   Checkout Your Information                                              395
                    Page Unavailable                                                         5
add_to_cart         Apparel | Google Merchandise Store                                       4
begin_checkout      Checkout Your Information                                              395
...                                                                                        ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                              2
                    Drinkware | Lifestyle | Google Merchandise Store                         3
                    Womens | Apparel | Google Merchandise Store                              2
view_promotion      Home                                                                  3777
view_search_results Store search results                                                   389

                                                                      device_mobile_model_name  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                         261
add_shipping_info   Checkout Your Information                                              395
                    Page Unavailable                                                         5
add_to_cart         Apparel | Google Merchandise Store                                       4
begin_checkout      Checkout Your Information                                              395
...                                                                                        ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                              2
                    Drinkware | Lifestyle | Google Merchandise Store                         3
                    Womens | Apparel | Google Merchandise Store                              2
view_promotion      Home                                                                  3777
view_search_results Store search results                                                   389

                                                                      device_operating_system  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                        261
add_shipping_info   Checkout Your Information                                             395
                    Page Unavailable                                                        5
add_to_cart         Apparel | Google Merchandise Store                                      4
begin_checkout      Checkout Your Information                                             395
...                                                                                       ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                             2
                    Drinkware | Lifestyle | Google Merchandise Store                        3
                    Womens | Apparel | Google Merchandise Store                             2
view_promotion      Home                                                                 3777
view_search_results Store search results                                                  389

                                                                      device_operating_system_version  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                                261
add_shipping_info   Checkout Your Information                                                     395
                    Page Unavailable                                                                5
add_to_cart         Apparel | Google Merchandise Store                                              4
begin_checkout      Checkout Your Information                                                     395
...                                                                                               ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                                     2
                    Drinkware | Lifestyle | Google Merchandise Store                                3
                    Womens | Apparel | Google Merchandise Store                                     2
view_promotion      Home                                                                         3777
view_search_results Store search results                                                          389

                                                                      ...  \
event_name          event_params_page_title                           ...
add_payment_info    Payment Method                                    ...
add_shipping_info   Checkout Your Information                         ...
                    Page Unavailable                                  ...
add_to_cart         Apparel | Google Merchandise Store                ...
begin_checkout      Checkout Your Information                         ...
...                                                                   ...
view_item_list      Bags | Lifestyle | Google Merchandise Store       ...
                    Drinkware | Lifestyle | Google Merchandise Store  ...
                    Womens | Apparel | Google Merchandise Store       ...
view_promotion      Home                                              ...
view_search_results Store search results                              ...

                                                                      event_params_campaign  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                        0
add_shipping_info   Checkout Your Information                                            67
                    Page Unavailable                                                      1
add_to_cart         Apparel | Google Merchandise Store                                    0
begin_checkout      Checkout Your Information                                            91
...                                                                                     ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                           0
                    Drinkware | Lifestyle | Google Merchandise Store                      0
                    Womens | Apparel | Google Merchandise Store                           0
view_promotion      Home                                                                778
view_search_results Store search results                                                  9

                                                                      event_params_medium  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                      0
add_shipping_info   Checkout Your Information                                          67
                    Page Unavailable                                                    1
add_to_cart         Apparel | Google Merchandise Store                                  0
begin_checkout      Checkout Your Information                                          91
...                                                                                   ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                         0
                    Drinkware | Lifestyle | Google Merchandise Store                    0
                    Womens | Apparel | Google Merchandise Store                         0
view_promotion      Home                                                              779
view_search_results Store search results                                                9

                                                                      event_params_page_referrer  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                            65
add_shipping_info   Checkout Your Information                                                 91
                    Page Unavailable                                                           0
add_to_cart         Apparel | Google Merchandise Store                                         4
begin_checkout      Checkout Your Information                                                 91
...                                                                                          ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                                0
                    Drinkware | Lifestyle | Google Merchandise Store                           0
                    Womens | Apparel | Google Merchandise Store                                2
view_promotion      Home                                                                     244
view_search_results Store search results                                                     160

                                                                      event_params_outbound  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                        0
add_shipping_info   Checkout Your Information                                             0
                    Page Unavailable                                                      0
add_to_cart         Apparel | Google Merchandise Store                                    0
begin_checkout      Checkout Your Information                                             0
...                                                                                     ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                           0
                    Drinkware | Lifestyle | Google Merchandise Store                      0
                    Womens | Apparel | Google Merchandise Store                           0
view_promotion      Home                                                                  0
view_search_results Store search results                                                  0

                                                                      event_params_link_domain  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                           0
add_shipping_info   Checkout Your Information                                                0
                    Page Unavailable                                                         0
add_to_cart         Apparel | Google Merchandise Store                                       0
begin_checkout      Checkout Your Information                                                0
...                                                                                        ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                              0
                    Drinkware | Lifestyle | Google Merchandise Store                         0
                    Womens | Apparel | Google Merchandise Store                              0
view_promotion      Home                                                                     0
view_search_results Store search results                                                     0

                                                                      event_params_link_url  \
event_name          event_params_page_title
add_payment_info    Payment Method                                                        0
add_shipping_info   Checkout Your Information                                             0
                    Page Unavailable                                                      0
add_to_cart         Apparel | Google Merchandise Store                                    0
begin_checkout      Checkout Your Information                                             0
...                                                                                     ...
view_item_list      Bags | Lifestyle | Google Merchandise Store                           0
                    Drinkware | Lifestyle | Google Merchandise Store                      0
                    Womens | Apparel | Google Merchandise Store                           0
view_promotion      Home                                                                  0
view_search_results Store search results                                                  0

                                                                      event_params_transaction_id  \
event_name          event_params_page_title

In [29]:
mygroupedcolumns = pd.DataFrame(df_ohe.groupby(['user_pseudo_id','event_name','event_params_page_title'],as_index=True).count().reset_index())

In [112]:
mygroupedcolumns

,user_pseudo_id,event_name,event_params_page_title,event_params_page_location,event_params_engaged_session_event,event_params_session_engaged,user_ltv_revenue,device_category,device_mobile_brand_name,device_mobile_model_name,...,event_params_medium,event_params_page_referrer,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_tax,purchase_timestamp,event_timestamp_y
0,1.001569e+06,first_visit,Home,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1.001569e+06,page_view,Home,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2,1.001569e+06,session_start,Home,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1.001569e+06,user_engagement,Home,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1.001569e+06,view_promotion,Home,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,9.657667e+09,scroll,Kids | Apparel | Google Merchandise Store,1,1,1,1,1,1,1,...,1,1,0,0,0,0,0,0,0,0
58972,9.657667e+09,session_start,Home,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
58973,9.657667e+09,user_engagement,Home,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
58974,9.657667e+09,user_engagement,Kids | Apparel | Google Merchandise Store,1,1,1,1,1,1,1,...,1,1,0,0,0,0,0,0,0,0
58975,9.657667e+09,view_promotion,Home,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [30]:
mygroupedcolumns['unique_combinations'] = mygroupedcolumns['event_name']+ ' & ' +mygroupedcolumns['event_params_page_title']

In [31]:
mygroupedcolumns = mygroupedcolumns.drop(columns=['event_name','event_params_page_title'])

In [32]:
mygroupedcolumns_index = mygroupedcolumns.set_index('user_pseudo_id')

In [33]:
len(mygroupedcolumns_index['unique_combinations'].unique())

1536

In [34]:
mygroupedcolumns_index = mygroupedcolumns_index.reset_index()

In [118]:
#pd.pivot_table(data=mygroupedcolumns_index, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'scrolls'})

In [35]:
mygroupedcolumns_index

,user_pseudo_id,event_params_page_location,event_params_engaged_session_event,event_params_session_engaged,user_ltv_revenue,device_category,device_mobile_brand_name,device_mobile_model_name,device_operating_system,device_operating_system_version,...,event_params_medium,event_params_page_referrer,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_tax,event_timestamp_y,unique_combinations
0,1.001569e+06,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,first_visit & Home
1,1.001569e+06,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,page_view & Home
2,1.001569e+06,1,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,session_start & Home
3,1.001569e+06,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,user_engagement & Home
4,1.001569e+06,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,view_promotion & Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,9.657667e+09,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,0,0,0,0,scroll & Kids | Apparel | Google Merchandise S...
58972,9.657667e+09,1,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,session_start & Home
58973,9.657667e+09,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,user_engagement & Home
58974,9.657667e+09,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,0,0,0,0,user_engagement & Kids | Apparel | Google Merc...
58975,9.657667e+09,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,view_promotion & Home

E0906 16:49:01.267620000 123145624489984 backup_poller.cc:124]         run_poller: UNKNOWN:Timer list shutdown {created_time:"2022-09-06T16:49:01.264665+01:00"}

In [ ]:
pd.pivot_table(data=mygroupedcolumns_index, index='user_pseudo_id', aggfunc='count', columns='unique_combinations')

In [ ]:
#pd.pivot_table(data=mygroupedcolumns_index, index=['user_pseudo_id'], columns=[['unique_combinations']], aggfunc='count')

In [ ]:
mygroupedcolumns.pivot(columns=['user_pseudo_id'])

In [ ]:
mygroupedcolumns.pivot(columns=['event_name'])

In [ ]:
df_ohe.groupby(['user_pseudo_id']).count()

In [ ]:
df_ohe = df_ohe[['event_name','user_pseudo_id','event_params_page_title']]

In [ ]:
df_pivoting = pd.pivot_table(data=df_ohe, index='user_pseudo_id', columns=['event_name','event_params_page_title'], aggfunc='count')

In [ ]:
df_pivoting