In [106]:
import pandas as pd
import numpy as np
import glob
from Predicting_Purchase_Intention.utils.clean_data import clean_data
import datetime

#from google.cloud import bigquery
#client = bigquery.Client()
#from Predicting_Purchase_Intention.utils.get_data import get_raw_data

In [107]:
import os
!pwd

/Users/micahwoldu/code/alexhalenke/Predicting_Purchase_Intention/notebooks

In [108]:
path = '../Predicting_Purchase_Intention/data/15days'
files = glob.glob(path + "/*.csv")
li = []

for filename in files:
    df = pd.read_csv(filename, index_col=None, header=0, )
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (0,7,9,10,13,24,25,27,29,30,32,45,46,80,82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (85) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (80,82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (72,73,74,75,80,81,82,83,84,87,89) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (82,83,84,86) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (71,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (80,81,82,83,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (79,80,82,83,84,88) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (79,81,82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (77,79,82,83,84,86) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (47,69,71,72,76,80,81,82,83,84,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (82,83,84,86) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (26,28,29,35,80,81,82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )
/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2085766530.py:6: DtypeWarning: Columns (74,75,76,78,79,80,82,83,84,86,89) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0, )

In [109]:
df.head()

,Unnamed: 0,event_date,event_timestamp,event_name,event_params,event_previous_timestamp,event_value_in_usd,event_bundle_sequence_id,event_server_timestamp_offset,user_id,...,event_params_unique_search_term,event_params_outbound,event_params_link_url,event_params_link_domain,event_params_tax,event_params_payment_type,event_params_value,event_params_transaction_id,event_params_promotion_name,event_params_coupon
0,0,20201113,1605254129288824,scroll,"[{'key': 'session_engaged', 'value': {'string_...",NaN,NaN,-9800936810,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20201113,1605254124257612,session_start,"[{'key': 'ga_session_number', 'value': {'strin...",NaN,NaN,-1231142048,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20201113,1605254124257612,first_visit,"[{'key': 'ga_session_number', 'value': {'strin...",NaN,NaN,-1231142048,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20201113,1605254124257612,page_view,"[{'key': 'ga_session_number', 'value': {'strin...",NaN,NaN,-1231142048,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20201113,1605254130399493,user_engagement,"[{'key': 'engagement_time_msec', 'value': {'st...",NaN,NaN,3839790179,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
clean_data(df)

,event_date,event_timestamp,event_name,user_pseudo_id,user_first_touch_timestamp,event_params_session_engaged,event_params_ga_session_id,event_params_engagement_time_msec,event_params_page_title,event_params_engaged_session_event,...,traffic_source_source,ecommerce_total_item_quantity,ecommerce_unique_items,event_params_source,event_params_medium,event_params_outbound,event_params_link_domain,event_params_value,event_params_promotion_name,event_params_coupon
0,20201113,1605254129288824,scroll,1.028635e+06,1.605254e+15,0.0,9.424389e+09,27.0,Google Online Store,1.0,...,<Other>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20201113,1605254124257612,session_start,1.028635e+06,1.605254e+15,NaN,9.424389e+09,NaN,Google Online Store,1.0,...,<Other>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20201113,1605254124257612,first_visit,1.028635e+06,1.605254e+15,1.0,9.424389e+09,NaN,Google Online Store,1.0,...,<Other>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20201113,1605254124257612,page_view,1.028635e+06,1.605254e+15,0.0,9.424389e+09,NaN,Google Online Store,1.0,...,<Other>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20201113,1605254130399493,user_engagement,1.028635e+06,1.605254e+15,0.0,9.424389e+09,6107.0,Google Online Store,1.0,...,<Other>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50353,20201113,1605280020441663,view_item,8.902897e+09,1.601923e+15,1.0,8.742509e+09,35648.0,Drinkware | Lifestyle | Google Merchandise Store,1.0,...,google,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50354,20201113,1605280090996408,view_item,8.902897e+09,1.601923e+15,1.0,8.742509e+09,9299.0,Hats | Apparel | Google Merchandise Store,1.0,...,google,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50355,20201113,1605279963336942,view_item,8.902897e+09,1.601923e+15,1.0,8.742509e+09,4219.0,Hats | Apparel | Google Merchandise Store,1.0,...,google,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50356,20201113,1605279791735628,view_item,8.902897e+09,1.601923e+15,1.0,8.742509e+09,1913.0,Drinkware | Lifestyle | Google Merchandise Store,1.0,...,google,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50357,20201113,1605280043178113,view_item,8.902897e+09,1.601923e+15,1.0,8.742509e+09,10322.0,Drinkware | Lifestyle | Google Merchandise Store,1.0,...,google,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Input Target Variable

In [111]:
purchasers = list(df[df['event_name']=='purchase']['user_pseudo_id'])

In [112]:
purchasers

[1874742.44444746,
 2077797.0559187988,
 2476173.91047473,
 2509185.977183495,
 2625733.8103163294,
 2794121.380809868,
 2992162.7816495835,
 3193748.4688093206,
 3392018.979696461,
 3392018.979696461,
 3392018.979696461,
 4031468.2204724816,
 4295503.441084649,
 4612979.841717636,
 4926862.799702169,
 4983865.95785365,
 4983865.95785365,
 4983865.95785365,
 4983865.95785365,
 4983865.95785365,
 7406779.504799426,
 7446712.272687227,
 7461331.449999483,
 7614640.446473046,
 7644052.723252317,
 8611828.29076483,
 15492110.128691876,
 18663613.933728956,
 25084453.163144927,
 53263817.586850904,
 53982377.92317499,
 54818265.65772141,
 57630054.877033375,
 60182642.343544714,
 71206194.91593328,
 74016002.60196503,
 377360457.82542,
 1204621.898218832,
 2027197.2609813465,
 2414762.3155087526,
 4103364.9302246096,
 5833707.464079575,
 6151599.75470104,
 6709518.377333485,
 7041469.007764079,
 8262649.469843671,
 21534599.708344664,
 37978348.791037515,
 46728708.076064974,
 54971191.919277005,
 74016002.60196503,
 78574452.50510849,
 83961186.48922606,
 7913379764.400655,
 1197596.6971314263,
 2684090.083171895,
 2992162.7816495835,
 3392018.979696461,
 5734190.860839173,
 51457099.00514036,
 57328124.6848846,
 57328124.6848846,
 65032571.69749696,
 70978143.16304281,
 3018471.218715432,
 3018471.218715432,
 71563215.68864636,
 81834479.51250918,
 82865714.77046022,
 12306432.793948945,
 74016002.60196503,
 65136379.854633585,
 1908131629.6568084,
 2861916.5058017545,
 4594297.661819026,
 5242740.302711033,
 81834479.51250918,
 86816051.55387878,
 53469191.63127535]

In [113]:
df['target_variable'] = None

In [114]:
for i in purchasers:
    for index, row in df[df['user_pseudo_id']==i].iterrows():
        df['target_variable'].iloc[index]=1

/var/folders/rj/bzr89fwn3zs9bhssz_fw4_lw0000gn/T/ipykernel_25496/2408224165.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target_variable'].iloc[index]=1

In [115]:
df.target_variable = df.target_variable.fillna(0)

In [116]:
df['target_variable'].value_counts()

0    43499
1     6859
Name: target_variable, dtype: int64

## Deleteing Transactions after purchase

In [117]:
len(df)

50358

In [118]:
df.columns

Index(['event_date', 'event_timestamp', 'event_name', 'user_pseudo_id',
       'user_first_touch_timestamp', 'event_params_session_engaged',
       'event_params_ga_session_id', 'event_params_engagement_time_msec',
       'event_params_page_title', 'event_params_engaged_session_event',
       'event_params_ga_session_number', 'user_ltv_revenue', 'device_category',
       'device_mobile_brand_name', 'device_mobile_model_name',
       'device_operating_system', 'device_language', 'device_web_info_browser',
       'geo_continent', 'geo_sub_continent', 'geo_country', 'geo_region',
       'geo_city', 'traffic_source_medium', 'traffic_source_source',
       'ecommerce_total_item_quantity', 'ecommerce_unique_items',
       'event_params_source', 'event_params_medium', 'event_params_outbound',
       'event_params_link_domain', 'event_params_value',
       'event_params_promotion_name', 'event_params_coupon',
       'target_variable'],
      dtype='object')

In [119]:
test1 = df[df['event_params_engagement_time_msec']>0][['user_pseudo_id','event_params_engagement_time_msec']]

In [120]:
pd.DataFrame(test1).sort_values

<bound method DataFrame.sort_values of        user_pseudo_id  event_params_engagement_time_msec
0        1.028635e+06                               27.0
4        1.028635e+06                             6107.0
5        1.042935e+06                            23569.0
7        1.042935e+06                            13440.0
9        1.042935e+06                            13669.0
...               ...                                ...
50353    8.902897e+09                            35648.0
50354    8.902897e+09                             9299.0
50355    8.902897e+09                             4219.0
50356    8.902897e+09                             1913.0
50357    8.902897e+09                            10322.0

[27745 rows x 2 columns]>

In [121]:
df['event_timestamp'] = pd.to_datetime(df['event_timestamp'], unit='us')

In [122]:
pd.to_datetime(df['event_date'],yearfirst=True, format='%Y%m%d')

0       2020-11-13
1       2020-11-13
2       2020-11-13
3       2020-11-13
4       2020-11-13
           ...
50353   2020-11-13
50354   2020-11-13
50355   2020-11-13
50356   2020-11-13
50357   2020-11-13
Name: event_date, Length: 50358, dtype: datetime64[ns]

In [123]:
df.head()

,event_date,event_timestamp,event_name,user_pseudo_id,user_first_touch_timestamp,event_params_session_engaged,event_params_ga_session_id,event_params_engagement_time_msec,event_params_page_title,event_params_engaged_session_event,...,ecommerce_total_item_quantity,ecommerce_unique_items,event_params_source,event_params_medium,event_params_outbound,event_params_link_domain,event_params_value,event_params_promotion_name,event_params_coupon,target_variable
0,20201113,2020-11-13 07:55:29.288824,scroll,1.028635e+06,1.605254e+15,0.0,9.424389e+09,27.0,Google Online Store,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,20201113,2020-11-13 07:55:24.257612,session_start,1.028635e+06,1.605254e+15,NaN,9.424389e+09,NaN,Google Online Store,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,20201113,2020-11-13 07:55:24.257612,first_visit,1.028635e+06,1.605254e+15,1.0,9.424389e+09,NaN,Google Online Store,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,20201113,2020-11-13 07:55:24.257612,page_view,1.028635e+06,1.605254e+15,0.0,9.424389e+09,NaN,Google Online Store,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,20201113,2020-11-13 07:55:30.399493,user_engagement,1.028635e+06,1.605254e+15,0.0,9.424389e+09,6107.0,Google Online Store,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [124]:
df['purchase_timestamp'] = None

In [125]:
last_event = df[df['event_name']=='purchase'][['user_pseudo_id','event_timestamp']]

In [126]:
event_dict

NameError: name 'event_dict' is not defined

In [ ]:
df['check'] = df.apply(lambda x: 'drop' if )

SyntaxError: invalid syntax (1904118959.py, line 1)

In [ ]:
df_merge = df.merge(last_event, on='user_pseudo_id', how='left')

In [ ]:
df_merge.shape

(53033, 37)

In [ ]:
df_merge['event_timestamp_y'].value_counts()

2020-11-13 20:50:02.015381    295
2020-11-13 16:58:32.329111    288
2020-11-13 17:18:07.378434    288
2020-11-13 03:00:22.328132    286
2020-11-13 06:11:15.316999    280
                             ...
2020-11-13 23:42:26.255019     33
2020-11-13 01:17:39.135106     32
2020-11-13 13:23:38.441377     32
2020-11-13 00:07:09.837803     32
2020-11-13 08:40:26.339781     21
Name: event_timestamp_y, Length: 79, dtype: int64

In [ ]:
df_new = df_merge.drop(df_merge[df_merge.event_timestamp_x > df_merge.event_timestamp_y].index)

In [ ]:
df_new.shape

(51078, 37)

In [ ]:
#For timestamp at which the purchase happened, delete everything that happened after it for the pseudo_id

In [ ]:
#def convert_date_timestamps(df):
#    for column in df:
#        if 'event_date' in column:
#            df[column] = pd.to_datetime(df[column])
#        if 'event_timestamp' in column:
#            df[column] = pd.to_datetime(df[column], unit='us')
#   return df

In [ ]:
#convert_date_timestamps(df)

In [ ]:
#def convert_date_timestamps(df):
#    for column in df:
#        if 'date' in column:
#            df[column] = pd.to_datetime(df[column])
#        if 'timestamp' in column:
#            df[column] = pd.to_datetime(df[column], unit='us')
#    return df

In [ ]:
#for i in df:
#    print(i ,  df[i].nunique())

## Get delete the Time Columns

In [ ]:
df.columns

Index(['event_date', 'event_timestamp', 'event_name', 'user_pseudo_id',
       'user_first_touch_timestamp', 'event_params_session_engaged',
       'event_params_ga_session_id', 'event_params_engagement_time_msec',
       'event_params_page_title', 'event_params_engaged_session_event',
       'event_params_ga_session_number', 'user_ltv_revenue', 'device_category',
       'device_mobile_brand_name', 'device_mobile_model_name',
       'device_operating_system', 'device_language', 'device_web_info_browser',
       'geo_continent', 'geo_sub_continent', 'geo_country', 'geo_region',
       'geo_city', 'traffic_source_medium', 'traffic_source_source',
       'ecommerce_total_item_quantity', 'ecommerce_unique_items',
       'event_params_source', 'event_params_medium', 'event_params_outbound',
       'event_params_link_domain', 'event_params_value',
       'event_params_promotion_name', 'event_params_coupon', 'target_variable',
       'purchase_timestamp'],
      dtype='object')

In [ ]:
df_new_timefeatures = df_new[['event_name','user_pseudo_id','event_date', 'event_timestamp_x', 'user_first_touch_timestamp', 'event_params_ga_session_number', 'event_params_ga_session_id','target_variable', 'event_params_engagement_time_msec' ]]

In [ ]:
df_new_timefeatures.head()

,event_name,user_pseudo_id,event_date,event_timestamp_x,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable,event_params_engagement_time_msec
0,scroll,1.028635e+06,20201113,2020-11-13 07:55:29.288824,1.605254e+15,1.0,9.424389e+09,0,27.0
1,session_start,1.028635e+06,20201113,2020-11-13 07:55:24.257612,1.605254e+15,1.0,9.424389e+09,0,NaN
2,first_visit,1.028635e+06,20201113,2020-11-13 07:55:24.257612,1.605254e+15,1.0,9.424389e+09,0,NaN
3,page_view,1.028635e+06,20201113,2020-11-13 07:55:24.257612,1.605254e+15,1.0,9.424389e+09,0,NaN
4,user_engagement,1.028635e+06,20201113,2020-11-13 07:55:30.399493,1.605254e+15,1.0,9.424389e+09,0,6107.0

In [ ]:
df_visits_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'max'}).reset_index().rename(columns={'event_params_ga_session_number': 'visits_per_visitor'})

In [ ]:
df_visits_per_visitor

      user_pseudo_id  visits_per_visitor
0       1.028635e+06                 1.0
1       1.042935e+06                 1.0
2       1.047455e+06                 1.0
3       1.056257e+06                 1.0
4       1.056682e+06                 1.0
...              ...                 ...
2855    8.902758e+09                 1.0
2856    8.902897e+09                 4.0
2857    8.969759e+09                 1.0
2858    9.043162e+09                 1.0
2859    9.679586e+09                 1.0

[2860 rows x 2 columns]

In [ ]:
df_visits_per_visitor.sort_values(by='event_params_ga_session_number' ,ascending=True)

KeyError: 'event_params_ga_session_number'

In [ ]:
df_pageviews = df_new_timefeatures[df_new_timefeatures['event_name']=='page_view'][['user_pseudo_id', 'event_name','event_date' ]]

In [ ]:
df_pageviews_per_visitor = pd.pivot_table(data=df_pageviews, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'page_views'})

In [ ]:
df_pageviews_per_visitor

      user_pseudo_id  page_views
0       1.001569e+06           2
1       1.005695e+06           1
2       1.007877e+06           1
3       1.011832e+06           2
4       1.013443e+06           3
...              ...         ...
5378    9.174861e+09           2
5379    9.207850e+09           1
5380    9.273656e+09           1
5381    9.282839e+09           1
5382    9.657667e+09           3

[5383 rows x 2 columns]

In [ ]:
df_events_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'count'}).reset_index().rename(columns={'event_params_ga_session_number': 'events_per_visitor'})

In [ ]:
df_events_per_visitor

      user_pseudo_id  events_per_visitor
0       1.001569e+06                   7
1       1.005695e+06                   4
2       1.007877e+06                   3
3       1.011832e+06                   5
4       1.013443e+06                  10
...              ...                 ...
5494    9.174861e+09                   7
5495    9.207850e+09                   3
5496    9.273656e+09                   3
5497    9.282839e+09                   6
5498    9.657667e+09                   9

[5499 rows x 2 columns]

In [ ]:
df_new_timefeatures

,event_name,user_pseudo_id,event_date,event_timestamp_x,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable,event_params_engagement_time_msec
0,page_view,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
1,first_visit,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
2,user_engagement,1.005695e+06,20201101,2020-11-01 00:54:42.302672,1.604192e+15,1.0,4.863245e+09,0,9215.0
3,session_start,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
4,user_engagement,1.013443e+06,20201101,2020-11-01 03:52:30.089608,1.604203e+15,1.0,1.129172e+09,0,6268.0
...,...,...,...,...,...,...,...,...,...
82056,select_promotion,7.944188e+07,20201102,2020-11-02 17:05:07.580180,1.604337e+15,1.0,9.754513e+09,0,25094.0
82057,view_promotion,7.944188e+07,20201102,2020-11-02 17:04:47.302710,1.604337e+15,1.0,9.754513e+09,0,134.0
82058,view_promotion,8.833995e+07,20201102,2020-11-02 16:01:52.118456,1.604333e+15,1.0,6.040210e+09,0,12.0
82059,view_promotion,6.590983e+09,20201102,2020-11-02 03:17:07.963149,1.603700e+15,2.0,1.785597e+09,0,155.0
82060,view_promotion,9.282839e+09,20201102,2020-11-02 23:12:57.036389,1.604359e+15,1.0,9.834007e+09,0,NaN

In [ ]:
df_engagement_time_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_engagement_time_msec':'sum'}).reset_index().rename(columns={'event_params_engagement_time_msec': 'engagement_time_per_visitor'})

In [ ]:
df_engagement_time_per_visitor

      user_pseudo_id  engagement_time_per_visitor
0       1.001569e+06                      51304.0
1       1.005695e+06                       9215.0
2       1.007877e+06                         53.0
3       1.011832e+06                      11984.0
4       1.013443e+06                      21105.0
...              ...                          ...
5494    9.174861e+09                       7615.0
5495    9.207850e+09                          0.0
5496    9.273656e+09                          0.0
5497    9.282839e+09                       7417.0
5498    9.657667e+09                      79215.0

[5499 rows x 2 columns]

In [ ]:
df_clicks = df_new_timefeatures[df_new_timefeatures['event_name']=='click'][['user_pseudo_id', 'event_name','event_date' ]]

In [ ]:
df_clicks_per_visitor = pd.pivot_table(data=df_clicks, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'clicks'})

In [ ]:
df_clicks_per_visitor.shape

(29, 2)

In [ ]:
df_user_engagement = df_new_timefeatures[df_new_timefeatures['event_name']=='user_engagement'][['user_pseudo_id', 'event_name','event_date' ]]

In [ ]:
df_user_engagements_visitor = pd.pivot_table(data=df_user_engagement, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'user_engagements'})

In [ ]:
df_user_engagements_visitor

      user_pseudo_id  user_engagements
0       1.001569e+06                 1
1       1.005695e+06                 1
2       1.011832e+06                 1
3       1.013443e+06                 3
4       1.014060e+06                 1
...              ...               ...
4338    8.965679e+09                 5
4339    9.058242e+09                 1
4340    9.174861e+09                 2
4341    9.282839e+09                 1
4342    9.657667e+09                 2

[4343 rows x 2 columns]

In [ ]:
df_scrollings = df_new_timefeatures[df_new_timefeatures['event_name']=='scroll'][['user_pseudo_id', 'event_name','event_date' ]]

In [ ]:
df_scrollings_visitor = pd.pivot_table(data=df_scrollings, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'scrolls'})

In [ ]:
df_scrollings_visitor

      user_pseudo_id  scrolls
0       1.007877e+06        1
1       1.019517e+06        2
2       1.021794e+06        2
3       1.023946e+06        1
4       1.026399e+06        8
...              ...      ...
3006    8.965679e+09        2
3007    8.976092e+09        1
3008    9.174861e+09        1
3009    9.282839e+09        1
3010    9.657667e+09        1

[3011 rows x 2 columns]

## JOINING for Basic Model

In [ ]:
df_new_timefeatures

,event_name,user_pseudo_id,event_date,event_timestamp_x,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable,event_params_engagement_time_msec
0,page_view,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
1,first_visit,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
2,user_engagement,1.005695e+06,20201101,2020-11-01 00:54:42.302672,1.604192e+15,1.0,4.863245e+09,0,9215.0
3,session_start,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0,NaN
4,user_engagement,1.013443e+06,20201101,2020-11-01 03:52:30.089608,1.604203e+15,1.0,1.129172e+09,0,6268.0
...,...,...,...,...,...,...,...,...,...
82056,select_promotion,7.944188e+07,20201102,2020-11-02 17:05:07.580180,1.604337e+15,1.0,9.754513e+09,0,25094.0
82057,view_promotion,7.944188e+07,20201102,2020-11-02 17:04:47.302710,1.604337e+15,1.0,9.754513e+09,0,134.0
82058,view_promotion,8.833995e+07,20201102,2020-11-02 16:01:52.118456,1.604333e+15,1.0,6.040210e+09,0,12.0
82059,view_promotion,6.590983e+09,20201102,2020-11-02 03:17:07.963149,1.603700e+15,2.0,1.785597e+09,0,155.0
82060,view_promotion,9.282839e+09,20201102,2020-11-02 23:12:57.036389,1.604359e+15,1.0,9.834007e+09,0,NaN

In [ ]:
df_for_target_variable = df_new_timefeatures.groupby(by='user_pseudo_id').sum()
df_for_target_variable

,event_date,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable,event_params_engagement_time_msec
user_pseudo_id,,,,,,
1.001569e+06,141407714,1.123039e+16,7.0,4.490903e+09,0,51304.0
1.005695e+06,80804404,6.416768e+15,4.0,1.945298e+10,0,9215.0
1.007877e+06,60603306,4.811288e+15,6.0,1.342849e+10,0,53.0
1.011832e+06,101005510,8.021447e+15,5.0,4.834604e+10,0,11984.0
1.013443e+06,202011010,1.604203e+16,10.0,1.129172e+10,0,21105.0
...,...,...,...,...,...,...
9.174861e+09,141407707,1.122945e+16,7.0,6.039465e+10,0,7615.0
9.207850e+09,60603306,4.812892e+15,3.0,2.684322e+10,0,0.0
9.273656e+09,60603303,4.812630e+15,3.0,1.382223e+10,0,0.0
9.282839e+09,121206612,9.626153e+15,6.0,5.900404e+10,0,7417.0
9.657667e+09,181809909,1.443837e+16,9.0,4.142008e+09,0,79215.0

In [ ]:
df_new_byvisitors = df_visits_per_visitor.merge(df_pageviews_per_visitor,on='user_pseudo_id', how='outer').merge(df_events_per_visitor,on='user_pseudo_id', how='outer').merge(df_engagement_time_per_visitor,on='user_pseudo_id', how='outer').merge(df_clicks_per_visitor,on='user_pseudo_id', how='outer').merge(df_user_engagements_visitor,on='user_pseudo_id', how='outer').merge(df_scrollings_visitor,on='user_pseudo_id', how='outer').merge(df_for_target_variable[['target_variable']], how='left',on='user_pseudo_id')

In [ ]:
df_new_byvisitors

,user_pseudo_id,visits_per_visitor,page_views,events_per_visitor,engagement_time_per_visitor,clicks,user_engagements,scrolls,target_variable
0,1.001569e+06,1.0,2.0,7,51304.0,NaN,1.0,NaN,0
1,1.005695e+06,1.0,1.0,4,9215.0,NaN,1.0,NaN,0
2,1.007877e+06,2.0,1.0,3,53.0,NaN,NaN,1.0,0
3,1.011832e+06,1.0,2.0,5,11984.0,NaN,1.0,NaN,0
4,1.013443e+06,1.0,3.0,10,21105.0,NaN,3.0,NaN,0
...,...,...,...,...,...,...,...,...,...
5494,9.174861e+09,1.0,2.0,7,7615.0,NaN,2.0,1.0,0
5495,9.207850e+09,1.0,1.0,3,0.0,NaN,NaN,NaN,0
5496,9.273656e+09,1.0,1.0,3,0.0,NaN,NaN,NaN,0
5497,9.282839e+09,1.0,1.0,6,7417.0,NaN,1.0,1.0,0
5498,9.657667e+09,1.0,3.0,9,79215.0,NaN,2.0,1.0,0

In [ ]:
df_new_byvisitors[df_new_byvisitors['target_variable'] > 0]

,user_pseudo_id,visits_per_visitor,page_views,events_per_visitor,engagement_time_per_visitor,clicks,user_engagements,scrolls,target_variable
134,1.441376e+06,1.0,17.0,58,505228.0,NaN,16.0,12.0,58
152,1.482564e+06,15.0,61.0,185,1286122.0,NaN,56.0,40.0,185
155,1.494019e+06,1.0,32.0,96,502939.0,NaN,25.0,14.0,96
162,1.525779e+06,2.0,35.0,117,1017528.0,NaN,32.0,20.0,117
166,1.534773e+06,6.0,179.0,625,7889530.0,NaN,169.0,64.0,625
412,2.422026e+06,4.0,33.0,102,607257.0,NaN,31.0,15.0,102
584,3.002649e+06,2.0,15.0,53,247929.0,NaN,14.0,12.0,53
593,3.051996e+06,2.0,19.0,66,1043034.0,NaN,18.0,10.0,66
658,3.297047e+06,1.0,12.0,41,637935.0,NaN,11.0,3.0,41
855,4.075022e+06,2.0,9.0,30,225259.0,NaN,8.0,4.0,30
1094,4.941025e+06,19.0,90.0,269,1464742.0,NaN,88.0,29.0,269
1199,5.299488e+06,5.0,11.0,42,531882.0,NaN,10.0,5.0,42
1239,5.448801e+06,7.0,18.0,55,656951.0,NaN,17.0,5.0,55
1290,5.649103e+06,3.0,47.0,154,1654278.0,NaN,45.0,26.0,154
1371,5.906846e+06,1.0,26.0,84,685482.0,NaN,25.0,13.0,84
1391,5.963534e+06,6.0,87.0,335,2805033.0,NaN,83.0,73.0,335
1640,6.828468e+06,1.0,31.0,109,1217764.0,NaN,29.0,23.0,109
1675,6.959133e+06,1.0,36.0,118,650401.0,NaN,35.0,23.0,118
1718,7.128823e+06,2.0,13.0,47,348437.0,NaN,12.0,10.0,47
1735,7.186880e+06,1.0,17.0,61,565455.0,NaN,16.0,8.0,61
1920,7.853262e+06,2.0,19.0,64,604932.0,NaN,18.0,9.0,64
2150,8.620050e+06,1.0,41.0,129,961842.0,NaN,39.0,10.0,129
2322,1.029527e+07,5.0,311.0,1054,11998794.0,NaN,306.0,134.0,1054
2455,1.429751e+07,3.0,17.0,53,251796.0,NaN,15.0,5.0,53
2706,2.150396e+07,3.0,21.0,67,511183.0,NaN,20.0,8.0,67
2995,2.964069e+07,1.0,41.0,133,2204285.0,NaN,38.0,18.0,133
3062,3.161362e+07,2.0,28.0,95,1363399.0,NaN,27.0,17.0,95
3109,3.302728e+07,2.0,28.0,100,589061.0,NaN,25.0,21.0,100
3240,3.663870e+07,1.0,36.0,104,913547.0,NaN,35.0,6.0,104
3324,3.868621e+07,2.0,51.0,168,1240551.0,NaN,49.0,20.0,168
3352,3.944346e+07,3.0,43.0,158,1798537.0,NaN,41.0,18.0,158
3396,4.041851e+07,3.0,32.0,106,563514.0,NaN,32.0,16.0,106
3397,4.041972e+07,3.0,11.0,38,221519.0,NaN,11.0,7.0,38
3413,4.076528e+07,1.0,17.0,52,301011.0,NaN,16.0,3.0,52
3440,4.128045e+07,1.0,16.0,52,1262793.0,NaN,14.0,12.0,52
3509,4.343592e+07,4.0,36.0,137,995569.0,NaN,35.0,20.0,137
3773,5.124867e+07,8.0,15.0,56,249334.0,1.0,15.0,10.0,56
4171,6.273878e+07,1.0,22.0,75,353142.0,NaN,20.0,14.0,75
4399,6.868924e+07,3.0,51.0,160,931698.0,NaN,50.0,28.0,160
4404,6.876536e+07,1.0,13.0,45,419708.0,NaN,12.0,9.0,45
4441,6.998615e+07,5.0,93.0,277,1475523.0,NaN,81.0,39.0,277
4462,7.076138e+07,18.0,28.0,96,673943.0,NaN,27.0,20.0,96
4656,7.679264e+07,21.0,24.0,78,584524.0,NaN,20.0,10.0,78
4710,7.797779e+07,4.0,104.0,319,3666854.0,NaN,96.0,48.0,319
4875,8.259284e+07,1.0,15.0,48,538651.0,NaN,14.0,5.0,48
4888,8.300857e+07,1.0,14.0,49,298459.0,NaN,13.0,7.0,49
5053,8.732638e+07,4.0,29.0,107,870665.0,NaN,28.0,16.0,107
5088,8.815564e+07,2.0,13.0,46,467475.0,NaN,12.0,8.0,46
5129,8.949272e+07,1.0,8.0,30,210606.0,NaN,7.0,3.0,30
5192,9.151823e+07,1.0,76.0,284,1918602.0,NaN,73.0,37.0,284
5450,7.644156e+09,3.0,24.0,87,747039.0,NaN,23.0,19.0,87
5452,7.905300e+09,2.0,15.0,43,313873.0,NaN,12.0,3.0,43

In [ ]:
#import os  
#os.makedirs('/home/alex/code/alexhalenke/', exist_ok=True)  
#df_new_byvisitors.to_csv('/home/alex/code/alexhalenke/first_basic_model.csv')

## One Hot Encoding

In [ ]:
df.columns

Index(['event_date', 'event_timestamp', 'event_name', 'user_pseudo_id',
       'user_first_touch_timestamp', 'event_params_session_engaged',
       'event_params_ga_session_id', 'event_params_engagement_time_msec',
       'event_params_page_title', 'event_params_engaged_session_event',
       'event_params_ga_session_number', 'user_ltv_revenue', 'device_category',
       'device_mobile_brand_name', 'device_mobile_model_name',
       'device_operating_system', 'device_language', 'device_web_info_browser',
       'geo_continent', 'geo_sub_continent', 'geo_country', 'geo_region',
       'geo_city', 'traffic_source_medium', 'traffic_source_source',
       'ecommerce_total_item_quantity', 'ecommerce_unique_items',
       'event_params_source', 'event_params_medium', 'event_params_outbound',
       'event_params_link_domain', 'event_params_value',
       'event_params_promotion_name', 'event_params_coupon', 'target_variable',
       'purchase_timestamp'],
      dtype='object')

In [ ]:
df_ohe = df_new.drop(columns=['event_date', 'event_timestamp_x', 'user_first_touch_timestamp', 'event_params_ga_session_number', 'event_params_ga_session_id','target_variable', 'event_params_engagement_time_msec'], axis=1)

In [ ]:
df['event_name'].nunique()

14

In [ ]:
len(df_ohe['event_name'].unique())

14

In [ ]:
16*343

5488

In [ ]:
len(df_ohe['event_params_page_title'].unique())

350

In [ ]:
from Predicting_Purchase_Intention.utils.page_category import page_category
df_ohe = page_category(df_ohe)

In [ ]:
df_ohe

,event_name,user_pseudo_id,event_params_session_engaged,event_params_page_title,event_params_engaged_session_event,user_ltv_revenue,device_category,device_mobile_brand_name,device_mobile_model_name,device_operating_system,...,event_params_source,event_params_medium,event_params_outbound,event_params_link_domain,event_params_value,event_params_promotion_name,event_params_coupon,purchase_timestamp,event_timestamp_y,Page Category
0,scroll,1.028635e+06,0.0,Google Online Store,1.0,0.0,desktop,Google,ChromeBook,<Other>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Home
1,session_start,1.028635e+06,NaN,Google Online Store,1.0,0.0,desktop,Google,ChromeBook,<Other>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Home
2,first_visit,1.028635e+06,1.0,Google Online Store,1.0,0.0,desktop,Google,ChromeBook,<Other>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Home
3,page_view,1.028635e+06,0.0,Google Online Store,1.0,0.0,desktop,Google,ChromeBook,<Other>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Home
4,user_engagement,1.028635e+06,0.0,Google Online Store,1.0,0.0,desktop,Google,ChromeBook,<Other>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53028,view_item,8.902897e+09,1.0,Drinkware | Lifestyle | Google Merchandise Store,1.0,0.0,mobile,Apple,iPhone,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Product Listing Page
53029,view_item,8.902897e+09,1.0,Hats | Apparel | Google Merchandise Store,1.0,0.0,mobile,Apple,iPhone,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Product Listing Page
53030,view_item,8.902897e+09,1.0,Hats | Apparel | Google Merchandise Store,1.0,0.0,mobile,Apple,iPhone,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Product Listing Page
53031,view_item,8.902897e+09,1.0,Drinkware | Lifestyle | Google Merchandise Store,1.0,0.0,mobile,Apple,iPhone,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Product Listing Page
53032,view_item,8.902897e+09,1.0,Drinkware | Lifestyle | Google Merchandise Store,1.0,0.0,mobile,Apple,iPhone,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT,Product Listing Page

In [ ]:
df_ohe.groupby(['event_name','Page Category']).count()

                                               user_pseudo_id  \
event_name          Page Category
add_payment_info    Payment Method                        280
add_shipping_info   Checkout Your Information             374
                    Other                                   1
begin_checkout      Checkout Your Information             668
                    Other                                   2
...                                                       ...
view_item           Product Listing Page                 1931
                    Sale Product Listing Page             345
                    Search Results                        124
view_promotion      Home                                 2087
view_search_results Search Results                        297

                                               event_params_session_engaged  \
event_name          Page Category
add_payment_info    Payment Method                                      280
add_shipping_info   Checkout Your Information                           374
                    Other                                                 1
begin_checkout      Checkout Your Information                           668
                    Other                                                 2
...                                                                     ...
view_item           Product Listing Page                               1931
                    Sale Product Listing Page                           345
                    Search Results                                      124
view_promotion      Home                                               2087
view_search_results Search Results                                      297

                                               event_params_page_title  \
event_name          Page Category
add_payment_info    Payment Method                                 280
add_shipping_info   Checkout Your Information                      374
                    Other                                            1
begin_checkout      Checkout Your Information                      668
                    Other                                            2
...                                                                ...
view_item           Product Listing Page                          1931
                    Sale Product Listing Page                      345
                    Search Results                                 124
view_promotion      Home                                          2087
view_search_results Search Results                                 297

                                               event_params_engaged_session_event  \
event_name          Page Category
add_payment_info    Payment Method                                            280
add_shipping_info   Checkout Your Information                                 371
                    Other                                                       1
begin_checkout      Checkout Your Information                                 662
                    Other                                                       2
...                                                                           ...
view_item           Product Listing Page                                     1917
                    Sale Product Listing Page                                 344
                    Search Results                                            124
view_promotion      Home                                                     1994
view_search_results Search Results                                            276

                                               user_ltv_revenue  \
event_name          Page Category
add_payment_info    Payment Method                          280
add_shipping_info   Checkout Your Information               374
                    Other                                     1
begin_checkout      Checkout Your Information               668
                    Other                                     2
...                                                         ...
view_item           Product Listing Page                   1931
                    Sale Product Listing Page               345
                    Search Results                          124
view_promotion      Home                                   2087
view_search_results Search Results                          297

                                               device_category  \
event_name          Page Category
add_payment_info    Payment Method                         280
add_shipping_info   Checkout Your Information              374
                    Other                                    1
begin_checkout      Checkout Your Information              668
                    Other                                    2
...                                                        ...
view_item           Product Listing Page                  1931
                    Sale Product Listing Page              345
                    Search Results                         124
view_promotion      Home                                  2087
view_search_results Search Results                         297

                                               device_mobile_brand_name  \
event_name          Page Category
add_payment_info    Payment Method                                  280
add_shipping_info   Checkout Your Information                       374
                    Other                                             1
begin_checkout      Checkout Your Information                       668
                    Other                                             2
...                                                                 ...
view_item           Product Listing Page                           1931
                    Sale Product Listing Page                       345
                    Search Results                                  124
view_promotion      Home                                           2087
view_search_results Search Results                                  297

                                               device_mobile_model_name  \
event_name          Page Category
add_payment_info    Payment Method                                  280
add_shipping_info   Checkout Your Information                       374
                    Other                                             1
begin_checkout      Checkout Your Information                       668
                    Other                                             2
...                                                                 ...
view_item           Product Listing Page                           1931
                    Sale Product Listing Page                       345
                    Search Results                                  124
view_promotion      Home                                           2087
view_search_results Search Results                                  297

                                               device_operating_system  \
event_name          Page Category
add_payment_info    Payment Method                                 280
add_shipping_info   Checkout Your Information                      374
                    Other                                            1
begin_checkout      Checkout Your Information                      668
                    Other                                            2
...                                                                ...
view_item           Product Listing Page                          1931
                    Sale Product Listing Page                      345
                    Search Results                                 124
view_promotion      Home                                          2087
view_search_results Search Results                                 297

                                               device_language  ...  \
event_name          Page Category                               ...
add_payment_info    Payment Method                         154  ...
add_shipping_info   Checkout Your Information              220  ...
                    Other                                    0  ...
begin_checkout      Checkout Your Information              382  ...
                    Other                                    0  ...
...                                                        ...  ...
view_item           Product Listing Page                   940  ...
                    Sale Product Listing Page              156  ...
                    Search Results                          47  ...
view_promotion      Home                                  1220  ...
view_search_results Search Results                         141  ...

                                               ecommerce_unique_items  \
event_name          Page Category
add_payment_info    Payment Method                                  0
add_shipping_info   Checkout Your Information                       0
                    Other                                           0
begin_checkout      Checkout Your Information                       0
                    Other                                           0
...                                                               ...
view_item           Product Listing Page                         1925
                    Sale Product Listing Page                     345
                    Search Results                                124
view_promotion      Home                                         1423
view_search_results Search Results                                  0

                                               event_params_source  \
event_name          Page Category
add_payment_info    Payment Method                               0
add_shipping_info   Checkout Your Information                  109
                    Other                                        1
begin_checkout      Checkout Your Information                  191
                    Other                                        2
...                                                            ...
view_item           Product Listing Page                        18
                    Sale Product Listing Page                    0
                    Search Results                              42
view_promotion      Home                                       475
view_search_results Search Results                               8

                                               event_params_medium  \
event_name          Page Category
add_payment_info    Payment Method                               0
add_shipping_info   Checkout Your Information                  109
                    Other                                        1
begin_checkout      Checkout Your Information                  191
                    Other                                        2
...                                                            ...
view_item           Product Listing Page                        18
                    Sale Product Listing Page                    0
                    Search Results                              42
view_promotion      Home                                       528
view_search_results Search Results                               8

                                               event_params_outbound  \
event_name          Page Category
add_payment_info    Payment Method                                 0
add_shipping_info   Checkout Your Information                      0
                    Other                                          0
begin_checkout      Checkout Your Information                      0
                    Other                                          0
...                                                              ...
view_item           Product Listing Page                           0
                    Sale Product Listing Page                      0
                    Search Results                                 0
view_promotion      Home                                           0
view_search_results Search Results                                 0

                                               event_params_link_domain  \
event_name          Page Category
add_payment_info    Payment Method                                    0
add_shipping_info   Checkout Your Information                         0
                    Other                                             0
begin_checkout      Checkout Your Information                         0
                    Other                                             0
...                                                                 ...
view_item           Product Listing Page                              0
                    Sale Product Listing Page                         0
                    Search Results                                    0
view_promotion      Home                                              0
view_search_results Search Results                                    0

                                               event_params_value  \
event_name          Page Category
add_payment_info    Payment Method                              0
add_shipping_info   Checkout Your Information                   0
                    Other                                       0
begin_checkout      Checkout Your Information                   0
                    Other                                       0
...                                                           ...
view_item           Product Listing Page                        0
                    Sale Product Listing Page                   0
                    Search Results                              0
view_promotion      Home                                        0
view_search_results Search Results                              0

                                               event_params_promotion_name  \
event_name          Page Category
add_payment_info    Payment Method                                       0
add_shipping_info   Checkout Your Information                            0
                    Other                                                0
begin_checkout      Checkout Your Information                            0
                    Other                                                0
...                                                                    ...
view_item           Product Listing Page                                 0
                    Sale Product Listing Page                            0
                    Search Results                                       0
view_promotion      Home                                                 0
view_search_results Search Results                                       0

                                               event_params_coupon  \
event_name          Page Category
add_payment_info    Payment Method                               0
add_shipping_info   Checkout Your Information                    0
                    Other                                        0
begin_checkout      Checkout Your Information                    0
                    Other                                        0
...                                                            ...
view_item           Product Listing Page                         0
                    Sale Product Listing Page                    0
                    Search Results                               0
view_promotion      Home                                         0
view_search_results Search Results                               0

                                               purchase_timestamp  \
event_name          Page Category
add_payment_info    Payment Method                              0
add_shipping_info   Checkout Your Information                   0
                    Other                                       0
begin_checkout      Checkout Your Information                   0
                    Other                                       0
...                                                           ...
view_item           Product Listing Page                        0
                    Sale Product Listing Page                   0
                    Search Results                              0
view_promotion      Home                                        0
view_search_results Search Results                              0

                                               event_timestamp_y
event_name          Page Category
add_payment_info    Payment Method                           224
add_shipping_info   Checkout Your Information                210
                    Other                                      0
begin_checkout      Checkout Your Information                352
                    Other                                      0
...                                                          ...
view_item           Product Listing Page                     356
                    Sale Product Listing Page                 94
                    Search Results                             7
view_promotion      Home                                     127
view_search_results Search Results                            17

[95 rows x 29 columns]

In [ ]:
mygroupedcolumns = pd.DataFrame(df_ohe.groupby(['user_pseudo_id','event_name','Page Category'],as_index=True).count().reset_index())

In [ ]:
mygroupedcolumns

,user_pseudo_id,event_params_session_engaged,event_params_page_title,event_params_engaged_session_event,user_ltv_revenue,device_category,device_mobile_brand_name,device_mobile_model_name,device_operating_system,device_language,...,event_params_source,event_params_medium,event_params_outbound,event_params_link_domain,event_params_value,event_params_promotion_name,event_params_coupon,purchase_timestamp,event_timestamp_y,unique_combinations
0,1.028635e+06,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,first_visit & Home
1,1.028635e+06,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,page_view & Home
2,1.028635e+06,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,scroll & Home
3,1.028635e+06,0,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,session_start & Home
4,1.028635e+06,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,user_engagement & Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22796,9.679586e+09,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,first_visit & Product Listing Page
22797,9.679586e+09,1,1,1,1,1,1,1,1,0,...,1,1,0,0,0,0,0,0,0,page_view & Product Listing Page
22798,9.679586e+09,1,1,1,1,1,1,1,1,0,...,1,1,0,0,0,0,0,0,0,scroll & Product Listing Page
22799,9.679586e+09,0,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,session_start & Product Listing Page
22800,9.679586e+09,1,1,1,1,1,1,1,1,0,...,1,1,0,0,0,0,0,0,0,user_engagement & Product Listing Page

In [ ]:
mygroupedcolumns.columns

Index(['user_pseudo_id', 'event_params_session_engaged',
       'event_params_page_title', 'event_params_engaged_session_event',
       'user_ltv_revenue', 'device_category', 'device_mobile_brand_name',
       'device_mobile_model_name', 'device_operating_system',
       'device_language', 'device_web_info_browser', 'geo_continent',
       'geo_sub_continent', 'geo_country', 'geo_region', 'geo_city',
       'traffic_source_medium', 'traffic_source_source',
       'ecommerce_total_item_quantity', 'ecommerce_unique_items',
       'event_params_source', 'event_params_medium', 'event_params_outbound',
       'event_params_link_domain', 'event_params_value',
       'event_params_promotion_name', 'event_params_coupon',
       'purchase_timestamp', 'event_timestamp_y', 'unique_combinations'],
      dtype='object')

In [ ]:
mygroupedcolumns.['event_name'].unique()

KeyError: 'event_name'

In [ ]:
mygroupedcolumns['unique_combinations'] = mygroupedcolumns['event_name']+ ' & ' +mygroupedcolumns['Page Category']

In [ ]:
mygroupedcolumns = mygroupedcolumns.drop(columns=['event_name','Page Category'])

KeyError: "['event_name', 'Page Category'] not found in axis"

In [ ]:
mygroupedcolumns_index = mygroupedcolumns.set_index('user_pseudo_id')

In [ ]:
len(mygroupedcolumns_index['unique_combinations'].unique())

95

In [ ]:
mygroupedcolumns_index = mygroupedcolumns_index.reset_index()

In [ ]:
#pd.pivot_table(data=mygroupedcolumns_index, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'scrolls'})

In [ ]:
mygroupedcolumns_index.unique_combinations.nunique()

95

In [ ]:
alex_variable = pd.pivot_table(data=mygroupedcolumns_index, index='user_pseudo_id', aggfunc='count', columns='unique_combinations')

In [ ]:
alex_variable

                                      device_category  \
unique_combinations add_payment_info & Payment Method
user_pseudo_id
1.028635e+06                                      NaN
1.042935e+06                                      NaN
1.047455e+06                                      1.0
1.056257e+06                                      NaN
1.056682e+06                                      NaN
...                                               ...
8.902758e+09                                      NaN
8.902897e+09                                      NaN
8.969759e+09                                      NaN
9.043162e+09                                      NaN
9.679586e+09                                      NaN

                                                                   \
unique_combinations add_shipping_info & Checkout Your Information
user_pseudo_id
1.028635e+06                                                  NaN
1.042935e+06                                                  NaN
1.047455e+06                                                  1.0
1.056257e+06                                                  NaN
1.056682e+06                                                  NaN
...                                                           ...
8.902758e+09                                                  NaN
8.902897e+09                                                  NaN
8.969759e+09                                                  NaN
9.043162e+09                                                  NaN
9.679586e+09                                                  NaN

                                                          \
unique_combinations add_shipping_info & Page Unavailable
user_pseudo_id
1.028635e+06                                         NaN
1.042935e+06                                         NaN
1.047455e+06                                         NaN
1.056257e+06                                         NaN
1.056682e+06                                         NaN
...                                                  ...
8.902758e+09                                         NaN
8.902897e+09                                         NaN
8.969759e+09                                         NaN
9.043162e+09                                         NaN
9.679586e+09                                         NaN

                                                                \
unique_combinations begin_checkout & Checkout Your Information
user_pseudo_id
1.028635e+06                                               NaN
1.042935e+06                                               NaN
1.047455e+06                                               1.0
1.056257e+06                                               NaN
1.056682e+06                                               NaN
...                                                        ...
8.902758e+09                                               NaN
8.902897e+09                                               NaN
8.969759e+09                                               NaN
9.043162e+09                                               NaN
9.679586e+09                                               NaN

                                                                               \
unique_combinations begin_checkout & Page Unavailable click & Checkout Review
user_pseudo_id
1.028635e+06                                      NaN                     NaN
1.042935e+06                                      NaN                     NaN
1.047455e+06                                      NaN                     NaN
1.056257e+06                                      NaN                     NaN
1.056682e+06                                      NaN                     NaN
...                                               ...                     ...
8.902758e+09                                      NaN                     NaN
8.902897e+09                                      NaN                     NaN
8.969759e+09                                      NaN                     NaN
9.043162e+09                                      NaN                     NaN
9.679586e+09                                      NaN                     NaN

                                                        \
unique_combinations click & Frequently Asked Questions
user_pseudo_id
1.028635e+06                                       NaN
1.042935e+06                                       NaN
1.047455e+06                                       NaN
1.056257e+06                                       NaN
1.056682e+06                                       NaN
...                                                ...
8.902758e+09                                       NaN
8.902897e+09                                       NaN
8.969759e+09                                       NaN
9.043162e+09                                       NaN
9.679586e+09                                       NaN

                                                                               \
unique_combinations click & Google | Shop by Brand | Google Merchandise Store
user_pseudo_id
1.028635e+06                                                       NaN
1.042935e+06                                                       NaN
1.047455e+06                                                       NaN
1.056257e+06                                                       NaN
1.056682e+06                                                       NaN
...                                                                ...
8.902758e+09                                                       NaN
8.902897e+09                                                       NaN
8.969759e+09                                                       NaN
9.043162e+09                                                       NaN
9.679586e+09                                                       NaN

                                  \
unique_combinations click & Home
user_pseudo_id
1.028635e+06                 NaN
1.042935e+06                 NaN
1.047455e+06                 NaN
1.056257e+06                 NaN
1.056682e+06                 NaN
...                          ...
8.902758e+09                 NaN
8.902897e+09                 NaN
8.969759e+09                 NaN
9.043162e+09                 NaN
9.679586e+09                 NaN

                                                                       ...  \
unique_combinations click & The Google Merchandise Store - My Account  ...
user_pseudo_id                                                         ...
1.028635e+06                                                      NaN  ...
1.042935e+06                                                      NaN  ...
1.047455e+06                                                      NaN  ...
1.056257e+06                                                      NaN  ...
1.056682e+06                                                      NaN  ...
...                                                               ...  ...
8.902758e+09                                                      NaN  ...
8.902897e+09                                                      NaN  ...
8.969759e+09                                                      NaN  ...
9.043162e+09                                                      NaN  ...
9.679586e+09                                                      NaN  ...

                                       user_ltv_revenue  \
unique_combinations view_item & YouTube Jotter Task Pad
user_pseudo_id
1.028635e+06                                        NaN
1.042935e+06                                        NaN
1.047455e+06                                        NaN
1.056257e+06                                        NaN
1.056682e+06                                        NaN
...                                                 ...
8.902758e+09                                        NaN
8.902897e+09                                        NaN
8.969759e+09                                        NaN
9.043162e+09                                        NaN
9.679586e+09                                        NaN

                                                                 \
unique_combinations view_item & YouTube Leather Strap Hat Black
user_pseudo_id
1.028635e+06                                                NaN
1.042935e+06                                                NaN
1.047455e+06                                                NaN
1.056257e+06                                                NaN
1.056682e+06                                                NaN
...                                                         ...
8.902758e+09                                                NaN
8.902897e+09                                                NaN
8.969759e+09                                                NaN
9.043162e+09                                                NaN
9.679586e+09                                                NaN

                                                  \
unique_combinations view_item & YouTube Play Mug
user_pseudo_id
1.028635e+06                                 NaN
1.042935e+06                                 NaN
1.047455e+06                                 NaN
1.056257e+06                                 NaN
1.056682e+06                                 NaN
...                                          ...
8.902758e+09                                 NaN
8.902897e+09                                 NaN
8.969759e+09                                 NaN
9.043162e+09                                 NaN
9.679586e+09                                 NaN

                                                             \
unique_combinations view_item & YouTube Small Sticker Sheet
user_pseudo_id
1.028635e+06                                            NaN
1.042935e+06                                            NaN
1.047455e+06                                            NaN
1.056257e+06                                            NaN
1.056682e+06                                            NaN
...                                                     ...
8.902758e+09                                            NaN
8.902897e+09                                            NaN
8.969759e+09                                            NaN
9.043162e+09                                            NaN
9.679586e+09                                            NaN

                                                                    \
unique_combinations view_item & YouTube Standards Zip Hoodie Black
user_pseudo_id
1.028635e+06                                                   NaN
1.042935e+06                                                   NaN
1.047455e+06                                                   NaN
1.056257e+06                                                   NaN
1.056682e+06                                                   NaN
...                                                            ...
8.902758e+09                                                   NaN
8.902897e+09                                                   NaN
8.969759e+09                                                   NaN
9.043162e+09                                                   NaN
9.679586e+09                                                   NaN

                                                                  \
unique_combinations view_item & YouTube Transmission Journal Red
user_pseudo_id
1.028635e+06                                                 NaN
1.042935e+06                                                 NaN
1.047455e+06                                                 NaN
1.056257e+06                                                 NaN
1.056682e+06                                                 NaN
...                                                          ...
8.902758e+09                                                 NaN
8.902897e+09                                                 NaN
8.969759e+09                                                 NaN
9.043162e+09                                                 NaN
9.679586e+09                                                 NaN

                                                                  \
unique_combinations view_item & YouTube Twill Sandwich Cap Black
user_pseudo_id
1.028635e+06                                                 NaN
1.042935e+06                                                 NaN
1.047455e+06                                                 NaN
1.056257e+06                                                 NaN
1.056682e+06                                                 NaN
...                                                          ...
8.902758e+09                                                 NaN
8.902897e+09                                                 NaN
8.969759e+09                                                 NaN
9.043162e+09                                                 NaN
9.679586e+09                                                 NaN

                                                                                    \
unique_combinations view_item & YouTube | Shop by Brand | Google Merchandise Store
user_pseudo_id
1.028635e+06                                                       NaN
1.042935e+06                                                       NaN
1.047455e+06                                                       NaN
1.056257e+06                                                       NaN
1.056682e+06                                                       NaN
...                                                                ...
8.902758e+09                                                       NaN
8.902897e+09                                                       NaN
8.969759e+09                                                       NaN
9.043162e+09                                                       NaN
9.679586e+09                                                       NaN

                                           \
unique_combinations view_promotion & Home
user_pseudo_id
1.028635e+06                          NaN
1.042935e+06                          1.0
1.047455e+06                          1.0
1.056257e+06                          1.0
1.056682e+06                          NaN
...                                   ...
8.902758e+09                          NaN
8.902897e+09                          1.0
8.969759e+09                          1.0
9.043162e+09                          1.0
9.679586e+09                          NaN


unique_combinations view_search_results & Store search results
user_pseudo_id
1.028635e+06                                               NaN
1.042935e+06                                               NaN
1.047455e+06                                               NaN
1.056257e+06                                               NaN
1.056682e+06                                               NaN
...                                                        ...
8.902758e+09                                               NaN
8.902897e+09                                               NaN
8.969759e+09                                               NaN
9.043162e+09                                               NaN
9.679586e+09                                               NaN

[2846 rows x 39582 columns]

In [ ]:
# mygroupedcolumns_index = mygroupedcolumns_index['unique_combinations', 'user_pseudo_id']

KeyError: 'key of type tuple not found and not a MultiIndex'

In [ ]:
alex_variable = pd.pivot_table(data=mygroupedcolumns_index, index='user_pseudo_id', aggfunc='count', columns='unique_combinations')

AttributeError: 'Series' object has no attribute 'columns'

In [ ]:
#pd.pivot_table(data=mygroupedcolumns_index, index=['user_pseudo_id'], columns=[['unique_combinations']], aggfunc='count')

In [ ]:
mygroupedcolumns.pivot(columns=['user_pseudo_id'])

In [ ]:
mygroupedcolumns.pivot(columns=['event_name'])

In [ ]:
df_ohe.groupby(['user_pseudo_id']).count()

In [ ]:
df_ohe = df_ohe[['event_name','user_pseudo_id','event_params_page_title']]

In [ ]:
df_pivoting = pd.pivot_table(data=df_ohe, index='user_pseudo_id', columns=['event_name','event_params_page_title'], aggfunc='count')

In [ ]:
df_pivoting