In [21]:
import pandas as pd
import numpy as np
import glob
from Predicting_Purchase_Intention.utils.clean_data import clean_data
import datetime

#from google.cloud import bigquery
#client = bigquery.Client()
#from Predicting_Purchase_Intention.utils.get_data import get_raw_data

In [2]:
#df = get_raw_data(project='wagon-bootcamp-6515',
#                 query="""
#                       SELECT *
#                      FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_20210130`
#                       """,
#                 drop=True)

In [5]:
path = '/home/alex/code/alexhalenke/15days'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    frame = pd.read_csv(filename, index_col=None, header=0, )
    li.append(frame)
df = pd.concat(li, axis=0, ignore_index=True)

/tmp/ipykernel_1867/3334580320.py:5: DtypeWarning: Columns (71,87) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )
/tmp/ipykernel_1867/3334580320.py:5: DtypeWarning: Columns (82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )

In [6]:
df.head()

,Unnamed: 0,event_date,event_timestamp,event_name,event_params,event_previous_timestamp,event_value_in_usd,event_bundle_sequence_id,event_server_timestamp_offset,user_id,...,event_params_search_term,event_params_unique_search_term,event_params_currency,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_payment_type,event_params_tax
0,0,20201101,1604192073036492,page_view,"[{'key': 'page_title', 'value': {'string_value...",NaN,NaN,2351439526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20201101,1604192073036492,first_visit,"[{'key': 'session_engaged', 'value': {'string_...",NaN,NaN,2351439526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20201101,1604192082302672,user_engagement,"[{'key': 'dclid', 'value': {'string_value': No...",NaN,NaN,-4853805495,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20201101,1604192073036492,session_start,"[{'key': 'page_location', 'value': {'string_va...",NaN,NaN,2351439526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20201101,1604202750089608,user_engagement,"[{'key': 'all_data', 'value': {'string_value':...",NaN,NaN,7473184003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
clean_data(df)

,event_date,event_timestamp,event_name,event_value_in_usd,event_bundle_sequence_id,user_pseudo_id,user_first_touch_timestamp,event_params_page_title,event_params_page_location,event_params_ga_session_number,...,event_params_source,event_params_campaign,event_params_medium,event_params_page_referrer,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_tax
0,20201101,1604192073036492,page_view,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20201101,1604192073036492,first_visit,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20201101,1604192082302672,user_engagement,NaN,-4853805495,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20201101,1604192073036492,session_start,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20201101,1604202750089608,user_engagement,NaN,7473184003,1.013443e+06,1.604203e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79655,20201102,1604336707580180,select_promotion,NaN,-5917426493,7.944188e+07,1.604337e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79656,20201102,1604336687302710,view_promotion,NaN,4054761781,7.944188e+07,1.604337e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79657,20201102,1604332912118456,view_promotion,NaN,-7625797806,8.833995e+07,1.604333e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79658,20201102,1604287027963149,view_promotion,NaN,-2018623857,6.590983e+09,1.603700e+15,Home,https://shop.googlemerchandisestore.com/,2.0,...,(data deleted),(data deleted),(data deleted),NaN,NaN,NaN,NaN,NaN,NaN,NaN
79659,20201102,1604358777036389,view_promotion,NaN,8972943670,9.282839e+09,1.604359e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Input Target Variable

In [8]:
purchasers = list(df[df['event_name']=='purchase']['user_pseudo_id'])

In [9]:
purchasers

[1494018.5183133776,
 4075022.322763347,
 29640692.950752266,
 29640692.950752266,
 70761379.0400305,
 7905299837.694994,
 2422026.0165722608,
 36638696.402929574,
 38686208.21256037,
 68689240.07410711,
 3297046.650955342,
 6828468.169520351,
 40765276.603398316,
 33027284.29749946,
 1441375.7353918687,
 5448801.122824885,
 5963534.4700679025,
 5963534.4700679025,
 5963534.4700679025,
 5963534.4700679025,
 7853261.62424396,
 40418512.32781263,
 40419717.43175887,
 41280451.596669726,
 68765362.45957506,
 82592841.50414957,
 1534773.3101496827,
 3002649.269862531,
 3051995.7094224226,
 5906845.812634381,
 6959133.0796529455,
 14297513.270547625,
 31613618.499320973,
 39443462.98522469,
 76792644.63517305,
 77977792.01915273,
 77977792.01915273,
 7644155580.39156,
 1525779.2780994636,
 1534773.3101496827,
 5299488.052249,
 5649103.123582516,
 21503964.58962551,
 62738775.47297522,
 87326376.75965929,
 1482564.3987701428,
 4941025.103768973,
 10295267.881826911,
 69986145.53999192,
 83008565.98820877,
 88155637.30761802,
 89492716.53864375,
 91518233.27911039,
 7128823.177674071,
 7186879.84461394,
 8620049.65671044,
 10295267.881826911,
 10295267.881826911,
 10295267.881826911,
 51248671.813389815,
 91518233.27911039,
 43435921.9728598,
 10295267.881826911]

In [10]:
df['target_variable'] = None

In [11]:
for i in purchasers:
    for index, row in df[df['user_pseudo_id']==i].iterrows():
        df['target_variable'].iloc[index]=1

/tmp/ipykernel_1867/2408224165.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target_variable'].iloc[index]=1

In [12]:
df.target_variable = df.target_variable.fillna(0)

In [13]:
df['target_variable'].value_counts()

0    73985
1     5675
Name: target_variable, dtype: int64

## Deleteing Transactions after purchase

In [14]:
len(df)

79660

In [15]:
df.columns

Index(['event_date', 'event_timestamp', 'event_name', 'event_value_in_usd',
       'event_bundle_sequence_id', 'user_pseudo_id',
       'user_first_touch_timestamp', 'event_params_page_title',
       'event_params_page_location', 'event_params_ga_session_number',
       'event_params_engaged_session_event', 'event_params_session_engaged',
       'event_params_ga_session_id', 'user_ltv_revenue', 'device_category',
       'device_mobile_brand_name', 'device_mobile_model_name',
       'device_operating_system', 'device_operating_system_version',
       'device_language', 'device_web_info_browser',
       'device_web_info_browser_version', 'geo_continent', 'geo_sub_continent',
       'geo_country', 'geo_region', 'geo_city', 'traffic_source_medium',
       'traffic_source_name', 'traffic_source_source',
       'ecommerce_total_item_quantity', 'ecommerce_purchase_revenue_in_usd',
       'ecommerce_purchase_revenue', 'ecommerce_tax_value_in_usd',
       'ecommerce_tax_value', 'ecommerce_unique_items',
       'event_params_engagement_time_msec', 'event_params_source',
       'event_params_campaign', 'event_params_medium',
       'event_params_page_referrer', 'event_params_outbound',
       'event_params_link_domain', 'event_params_link_url',
       'event_params_transaction_id', 'event_params_value', 'event_params_tax',
       'target_variable'],
      dtype='object')

In [27]:
df['event_timestamp'] = pd.to_datetime(df['event_timestamp'], unit='us')

In [51]:
pd.to_datetime(df['event_date'],yearfirst=True, format='%Y%m%d')

0       2020-11-01
1       2020-11-01
2       2020-11-01
3       2020-11-01
4       2020-11-01
           ...
79655   2020-11-02
79656   2020-11-02
79657   2020-11-02
79658   2020-11-02
79659   2020-11-02
Name: event_date, Length: 79660, dtype: datetime64[ns]

In [50]:
df.head()

,event_date,event_timestamp,event_name,event_value_in_usd,event_bundle_sequence_id,user_pseudo_id,user_first_touch_timestamp,event_params_page_title,event_params_page_location,event_params_ga_session_number,...,event_params_campaign,event_params_medium,event_params_page_referrer,event_params_outbound,event_params_link_domain,event_params_link_url,event_params_transaction_id,event_params_value,event_params_tax,target_variable
0,20201101,2020-11-01 00:54:33.036492,page_view,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,20201101,2020-11-01 00:54:33.036492,first_visit,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,20201101,2020-11-01 00:54:42.302672,user_engagement,NaN,-4853805495,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,20201101,2020-11-01 00:54:33.036492,session_start,NaN,2351439526,1.005695e+06,1.604192e+15,Drinkware | Lifestyle | Google Merchandise Store,https://shop.googlemerchandisestore.com/Google...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,20201101,2020-11-01 03:52:30.089608,user_engagement,NaN,7473184003,1.013443e+06,1.604203e+15,Home,https://shop.googlemerchandisestore.com/,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [58]:
df['purchase_timestamp'] = None

In [71]:
last_event = df[df['event_name']=='purchase'][['user_pseudo_id','event_timestamp']]

In [66]:
event_dict

{'user_pseudo_id': {28825: 1494018.5183133776,
  28972: 4075022.322763347,
  29307: 29640692.950752266,
  29308: 29640692.950752266,
  29536: 70761379.0400305,
  29685: 7905299837.694994,
  29698: 2422026.0165722608,
  29699: 36638696.402929574,
  29700: 38686208.21256037,
  29701: 68689240.07410711,
  29702: 3297046.650955342,
  29703: 6828468.169520351,
  29704: 40765276.603398316,
  29705: 33027284.29749946,
  75122: 1441375.7353918687,
  75123: 5448801.122824885,
  75124: 5963534.4700679025,
  75125: 5963534.4700679025,
  75126: 5963534.4700679025,
  75127: 5963534.4700679025,
  75128: 7853261.62424396,
  75129: 40418512.32781263,
  75130: 40419717.43175887,
  75131: 41280451.596669726,
  75132: 68765362.45957506,
  75133: 82592841.50414957,
  75134: 1534773.3101496827,
  75135: 3002649.269862531,
  75136: 3051995.7094224226,
  75137: 5906845.812634381,
  75138: 6959133.0796529455,
  75139: 14297513.270547625,
  75140: 31613618.499320973,
  75141: 39443462.98522469,
  75142: 76792644.63517305,
  75143: 77977792.01915273,
  75144: 77977792.01915273,
  75145: 7644155580.39156,
  75146: 1525779.2780994636,
  75147: 1534773.3101496827,
  75148: 5299488.052249,
  75149: 5649103.123582516,
  75150: 21503964.58962551,
  75151: 62738775.47297522,
  75152: 87326376.75965929,
  75153: 1482564.3987701428,
  75154: 4941025.103768973,
  75155: 10295267.881826911,
  75156: 69986145.53999192,
  75157: 83008565.98820877,
  75158: 88155637.30761802,
  75159: 89492716.53864375,
  75160: 91518233.27911039,
  75161: 7128823.177674071,
  75162: 7186879.84461394,
  75163: 8620049.65671044,
  75164: 10295267.881826911,
  75165: 10295267.881826911,
  75166: 10295267.881826911,
  75167: 51248671.813389815,
  75168: 91518233.27911039,
  75169: 43435921.9728598,
  75170: 10295267.881826911},
 'event_timestamp': {28825: Timestamp('2020-11-01 04:11:11.477055'),
  28972: Timestamp('2020-11-01 13:24:02.747646'),
  29307: Timestamp('2020-11-01 15:12:13.156551'),
  29308: Timestamp('2020-11-01 15:24:50.295281'),
  29536: Timestamp('2020-11-01 17:38:27.368761'),
  29685: Timestamp('2020-11-01 20:46:35.431620'),
  29698: Timestamp('2020-11-01 01:44:44.942033'),
  29699: Timestamp('2020-11-01 00:27:14.469608'),
  29700: Timestamp('2020-11-01 12:18:34.445270'),
  29701: Timestamp('2020-11-01 17:41:52.249748'),
  29702: Timestamp('2020-11-01 06:17:40.454067'),
  29703: Timestamp('2020-11-01 09:53:30.531712'),
  29704: Timestamp('2020-11-01 23:24:17.674829'),
  29705: Timestamp('2020-11-01 11:06:54.747533'),
  75122: Timestamp('2020-11-02 20:52:37.343393'),
  75123: Timestamp('2020-11-02 04:47:49.138329'),
  75124: Timestamp('2020-11-02 12:58:25.354898'),
  75125: Timestamp('2020-11-02 13:03:06.399475'),
  75126: Timestamp('2020-11-02 13:06:19.748453'),
  75127: Timestamp('2020-11-02 13:10:47.246269'),
  75128: Timestamp('2020-11-02 20:46:02.143375'),
  75129: Timestamp('2020-11-02 05:17:22.995956'),
  75130: Timestamp('2020-11-02 12:10:41.790395'),
  75131: Timestamp('2020-11-02 06:19:59.716977'),
  75132: Timestamp('2020-11-02 19:39:19.031304'),
  75133: Timestamp('2020-11-02 11:43:43.587109'),
  75134: Timestamp('2020-11-02 23:30:13.315107'),
  75135: Timestamp('2020-11-02 16:00:09.292971'),
  75136: Timestamp('2020-11-02 11:26:49.654141'),
  75137: Timestamp('2020-11-02 19:41:27.112812'),
  75138: Timestamp('2020-11-02 12:05:14.738525'),
  75139: Timestamp('2020-11-02 09:52:58.296899'),
  75140: Timestamp('2020-11-02 19:38:07.763925'),
  75141: Timestamp('2020-11-02 12:24:03.543886'),
  75142: Timestamp('2020-11-02 22:26:48.682981'),
  75143: Timestamp('2020-11-02 03:12:12.569546'),
  75144: Timestamp('2020-11-02 03:13:23.575107'),
  75145: Timestamp('2020-11-02 21:52:41.322587'),
  75146: Timestamp('2020-11-02 15:44:05.812724'),
  75147: Timestamp('2020-11-02 23:45:07.383234'),
  75148: Timestamp('2020-11-02 11:53:34.351071'),
  75149: Timestamp('2020-11-02 16:26:57.658714'),
  75150: Timestamp('2020-11-02 11:59:30.457052'),
  75151: Timestamp('2020-11-02 18:54:52.129079'),
  75152: Timestamp('2020-11-02 16:38:27.433102'),
  75153: Timestamp('2020-11-02 14:23:54.026194'),
  75154: Timestamp('2020-11-02 15:22:00.739599'),
  75155: Timestamp('2020-11-02 09:46:54.387379'),
  75156: Timestamp('2020-11-02 23:28:56.149584'),
  75157: Timestamp('2020-11-02 22:24:36.596415'),
  75158: Timestamp('2020-11-02 19:11:58.034354'),
  75159: Timestamp('2020-11-02 22:07:16.147408'),
  75160: Timestamp('2020-11-02 03:46:45.206601'),
  75161: Timestamp('2020-11-02 18:03:46.063788'),
  75162: Timestamp('2020-11-02 11:39:02.007142'),
  75163: Timestamp('2020-11-02 10:38:36.646939'),
  75164: Timestamp('2020-11-02 09:54:37.896437'),
  75165: Timestamp('2020-11-02 08:47:21.171459'),
  75166: Timestamp('2020-11-02 08:38:22.297885'),
  75167: Timestamp('2020-11-02 17:39:12.669361'),
  75168: Timestamp('2020-11-02 03:57:22.125137'),
  75169: Timestamp('2020-11-02 10:44:41.826941'),
  75170: Timestamp('2020-11-02 09:29:56.614186')}}

In [ ]:
df['check'] = df.apply(lambda x: 'drop' if )

In [75]:
df_merge = df.merge(last_event, on='user_pseudo_id', how='left')

In [83]:
df_merge.shape

(82061, 50)

In [79]:
df_merge['event_timestamp_y'].value_counts()

2020-11-02 23:30:13.315107    382
2020-11-02 23:45:07.383234    382
2020-11-02 08:38:22.297885    303
2020-11-02 09:54:37.896437    303
2020-11-02 09:46:54.387379    303
                             ...
2020-11-02 11:53:34.351071     43
2020-11-01 13:24:02.747646     41
2020-11-01 06:17:40.454067     41
2020-11-02 12:10:41.790395     38
2020-11-02 22:07:16.147408     32
Name: event_timestamp_y, Length: 63, dtype: int64

In [87]:
df_new = df_merge.drop(df_merge[df_merge.event_timestamp_x > df_merge.event_timestamp_y].index)

In [91]:
df_new.shape

(80942, 50)

In [ ]:
#For timestamp at which the purchase happened, delete everything that happened after it for the pseudo_id

In [ ]:
#def convert_date_timestamps(df):
#    for column in df:
#        if 'event_date' in column:
#            df[column] = pd.to_datetime(df[column])
#        if 'event_timestamp' in column:
#            df[column] = pd.to_datetime(df[column], unit='us')
#   return df

In [ ]:
#convert_date_timestamps(df)

In [ ]:
#def convert_date_timestamps(df):
#    for column in df:
#        if 'date' in column:
#            df[column] = pd.to_datetime(df[column])
#        if 'timestamp' in column:
#            df[column] = pd.to_datetime(df[column], unit='us')
#    return df

In [ ]:
#for i in df:
#    print(i ,  df[i].nunique())

## Get delete the Time Columns

In [104]:
df_new_timefeatures = df_new[['event_name','user_pseudo_id','event_date', 'event_timestamp_x', 'user_first_touch_timestamp', 'event_params_ga_session_number', 'event_params_ga_session_id','target_variable' ]]

In [105]:
df_new_timefeatures.head()

,event_name,user_pseudo_id,event_date,event_timestamp_x,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable
0,page_view,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0
1,first_visit,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0
2,user_engagement,1.005695e+06,20201101,2020-11-01 00:54:42.302672,1.604192e+15,1.0,4.863245e+09,0
3,session_start,1.005695e+06,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0
4,user_engagement,1.013443e+06,20201101,2020-11-01 03:52:30.089608,1.604203e+15,1.0,1.129172e+09,0

In [140]:
df_visits_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'max'}).reset_index()

In [141]:
df_visits_per_visitor

      user_pseudo_id  event_params_ga_session_number
0       1.001569e+06                             1.0
1       1.005695e+06                             1.0
2       1.007877e+06                             2.0
3       1.011832e+06                             1.0
4       1.013443e+06                             1.0
...              ...                             ...
5494    9.174861e+09                             1.0
5495    9.207850e+09                             1.0
5496    9.273656e+09                             1.0
5497    9.282839e+09                             1.0
5498    9.657667e+09                             1.0

[5499 rows x 2 columns]

In [116]:
df_pageviews = df_new_timefeatures[df_new_timefeatures['event_name']=='page_view'][['user_pseudo_id', 'event_name','event_date' ]]

In [136]:
df_pageviews_per_visitor = pd.pivot_table(data=df_pageviews, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'page_views'})

In [142]:
df_pageviews_per_visitor

      user_pseudo_id  page_views
0       1.001569e+06           2
1       1.005695e+06           1
2       1.007877e+06           1
3       1.011832e+06           2
4       1.013443e+06           3
...              ...         ...
5378    9.174861e+09           2
5379    9.207850e+09           1
5380    9.273656e+09           1
5381    9.282839e+09           1
5382    9.657667e+09           3

[5383 rows x 2 columns]

In [143]:
df_events_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'count'}).reset_index()

In [144]:
df_events_per_visitor

      user_pseudo_id  event_params_ga_session_number
0       1.001569e+06                               7
1       1.005695e+06                               4
2       1.007877e+06                               3
3       1.011832e+06                               5
4       1.013443e+06                              10
...              ...                             ...
5494    9.174861e+09                               7
5495    9.207850e+09                               3
5496    9.273656e+09                               3
5497    9.282839e+09                               6
5498    9.657667e+09                               9

[5499 rows x 2 columns]

In [47]:
df_timedata

,event_date,event_timestamp,user_first_touch_timestamp,event_params_ga_session_number,event_params_ga_session_id,target_variable
0,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0
1,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0
2,20201101,2020-11-01 00:54:42.302672,1.604192e+15,1.0,4.863245e+09,0
3,20201101,2020-11-01 00:54:33.036492,1.604192e+15,1.0,4.863245e+09,0
4,20201101,2020-11-01 03:52:30.089608,1.604203e+15,1.0,1.129172e+09,0
...,...,...,...,...,...,...
79655,20201102,2020-11-02 17:05:07.580180,1.604337e+15,1.0,9.754513e+09,0
79656,20201102,2020-11-02 17:04:47.302710,1.604337e+15,1.0,9.754513e+09,0
79657,20201102,2020-11-02 16:01:52.118456,1.604333e+15,1.0,6.040210e+09,0
79658,20201102,2020-11-02 03:17:07.963149,1.603700e+15,2.0,1.785597e+09,0
79659,20201102,2020-11-02 23:12:57.036389,1.604359e+15,1.0,9.834007e+09,0

In [ ]:
#average amount of pageviews per session id per pseudo id