In [1]:
import pandas as pd
import numpy as np
import glob
from Predicting_Purchase_Intention.utils.clean_data import clean_data
import datetime
from Predicting_Purchase_Intention.utils.page_category import page_category

#from google.cloud import bigquery
#client = bigquery.Client()
#from Predicting_Purchase_Intention.utils.get_data import get_raw_data

In [ ]:
#df = get_raw_data(project='wagon-bootcamp-6515',
#                 query="""
#                       SELECT *
#                      FROM `bigquery-public-data.ga4_obfuscated_sample_ecommerce.events_20210130`
#                       """,
#                 drop=True)

In [2]:
path = '/home/alex/code/alexhalenke/15days'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    frame = pd.read_csv(filename, index_col=None, header=0, )
    li.append(frame)
df = pd.concat(li, axis=0, ignore_index=True)

/tmp/ipykernel_2896/3334580320.py:5: DtypeWarning: Columns (77,79,82,83,84,86) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )
/tmp/ipykernel_2896/3334580320.py:5: DtypeWarning: Columns (80,82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )
/tmp/ipykernel_2896/3334580320.py:5: DtypeWarning: Columns (80,81,82,83,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )
/tmp/ipykernel_2896/3334580320.py:5: DtypeWarning: Columns (71,87) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )
/tmp/ipykernel_2896/3334580320.py:5: DtypeWarning: Columns (82,83,84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(filename, index_col=None, header=0, )

In [4]:
df1 = clean_data(df)

In [7]:
df1.head()

,event_date,event_timestamp,event_name,user_pseudo_id,user_first_touch_timestamp,event_params_source,event_params_ga_session_id,event_params_ga_session_number,event_params_medium,event_params_session_engaged,...,geo_city,traffic_source_medium,traffic_source_source,ecommerce_total_item_quantity,ecommerce_unique_items,event_params_engaged_session_event,event_params_engagement_time_msec,event_params_link_domain,event_params_outbound,event_params_value
0,20201104,1604497410570448,user_engagement,1.000300e+06,1.604482e+15,shop.googlemerchandisestore.com,3.614623e+09,2.0,referral,0.0,...,Lyon,referral,shop.googlemerchandisestore.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20201104,1604481671657014,first_visit,1.000300e+06,1.604482e+15,NaN,9.350311e+09,1.0,NaN,1.0,...,Lyon,<Other>,<Other>,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,20201104,1604481671657014,session_start,1.000300e+06,1.604482e+15,NaN,9.350311e+09,1.0,NaN,NaN,...,Lyon,<Other>,<Other>,NaN,NaN,1.0,NaN,NaN,NaN,NaN
3,20201104,1604481678760672,view_promotion,1.000300e+06,1.604482e+15,<Other>,9.350311e+09,1.0,<Other>,0.0,...,Lyon,<Other>,<Other>,NaN,NaN,1.0,1850.0,NaN,NaN,NaN
4,20201104,1604497410570448,session_start,1.000300e+06,1.604482e+15,NaN,3.614623e+09,2.0,NaN,NaN,...,Lyon,referral,shop.googlemerchandisestore.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df2 = convert_datatypes_filter(df1)
df2.head()

,event_date,event_timestamp,event_name,user_pseudo_id,user_first_touch_timestamp,event_params_ga_session_id,event_params_ga_session_number,event_params_session_engaged,event_params_page_title,event_params_engaged_session_event,event_params_engagement_time_msec
0,2020-11-04,2020-11-04 13:43:30.570448,user_engagement,1000300.3223254236,2020-11-04 09:21:11.657014016,3.614623e+09,2.0,0.0,Home,NaN,NaN
1,2020-11-04,2020-11-04 09:21:11.657014,first_visit,1000300.3223254236,2020-11-04 09:21:11.657014016,9.350311e+09,1.0,1.0,Home,1.0,NaN
2,2020-11-04,2020-11-04 09:21:11.657014,session_start,1000300.3223254236,2020-11-04 09:21:11.657014016,9.350311e+09,1.0,NaN,Home,1.0,NaN
3,2020-11-04,2020-11-04 09:21:18.760672,view_promotion,1000300.3223254236,2020-11-04 09:21:11.657014016,9.350311e+09,1.0,0.0,Home,1.0,1850.0
4,2020-11-04,2020-11-04 13:43:30.570448,session_start,1000300.3223254236,2020-11-04 09:21:11.657014016,3.614623e+09,2.0,NaN,Home,NaN,NaN

In [14]:
df3 = input_target_variable(df2)
df3.shape

/tmp/ipykernel_2896/1336776905.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target_variable'] = df.target_variable.fillna(0)
/tmp/ipykernel_2896/1336776905.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target_variable'] = df['target_variable'].astype(int)

(245150, 12)

In [13]:
df4 = slicing_purchasers(df3)
df4.shape

/tmp/ipykernel_2896/4168793812.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_purchases['amount_purchases'] = 1

(245150, 15)

In [3]:
def convert_datatypes_filter(df:pd.DataFrame) -> pd.DataFrame:
    for column in df:
        if 'event_date' in column:
            df[column] = pd.to_datetime(df[column],yearfirst=True, format='%Y%m%d')
        if 'timestamp' in column:
            df[column] = pd.to_datetime(df[column], unit='us')
        if 'user_pseudo_id' in column:
            df[column] = df[column].astype(str)
    #work only with necessary columns
    df = df[['event_date','event_timestamp','event_name','user_pseudo_id','user_first_touch_timestamp','event_params_ga_session_id',
       'event_params_ga_session_number', 'event_params_session_engaged',
       'event_params_page_title','event_params_engaged_session_event',
       'event_params_engagement_time_msec']]
    return df

In [5]:
def input_target_variable(df:pd.DataFrame) -> pd.DataFrame:
    #add target_variable column for visitors with at least 1 purchase
    purchasers = list(df[df['event_name']=='purchase']['user_pseudo_id'].unique())
    df.loc[df['user_pseudo_id'].isin(purchasers), 'target_variable'] = 1
    df['target_variable'] = df.target_variable.fillna(0)
    df['target_variable'] = df['target_variable'].astype(int)
    return df

In [6]:
def slicing_purchasers(df:pd.DataFrame) -> pd.DataFrame:
    #Create DF with amount purchases per User Pseudo Id
    all_purchases = df[df['event_name']=='purchase']
    all_purchases['amount_purchases'] = 1
    df_amount_purchases = pd.pivot_table(data=all_purchases, index='user_pseudo_id', values='event_name', aggfunc='count').reset_index().rename(columns={'event_name': 'amount_purchases'})
    #Merge with main DF
    df1 = df.merge(df_amount_purchases,on='user_pseudo_id', how='outer').fillna(0)
    df1['amount_purchases'] = df1['amount_purchases'].astype(int)
    #New column with timestamp of first purchase
    all_purchases_timestamp = all_purchases[['user_pseudo_id','event_timestamp']]
    first_purchase = pd.DataFrame(all_purchases_timestamp.groupby(['user_pseudo_id'])['event_timestamp'].agg('min').reset_index().rename(columns={'event_timestamp': 'date_first_purchase'}))
    #Merge with main DF
    df2 = df1.merge(first_purchase, on='user_pseudo_id', how='outer')
    #For the events of a user that happened after their first purchase, add a prefix (ABC)
    df2['newcolumn_id'] = 'ABC' + df2[df2.event_timestamp > df2.date_first_purchase]['user_pseudo_id']
    df3 = df2.dropna(subset=['newcolumn_id'])
    df2 = df2[df2['newcolumn_id'].isna()]
    df2 = df2.drop(columns=['newcolumn_id'])
    df4 = df3.drop(columns=['user_pseudo_id'])
    df4['user_pseudo_id'] = df4['newcolumn_id']
    df_final = pd.concat([df2 , df4])
    df_final.reset_index(inplace=True, drop=True)
    #include previous purchase column
    df_final['previous_purchase?'] = np.where(df_final['user_pseudo_id'].str.contains('ABC'), 1, 0)
    df_final = df_final.drop(columns=['newcolumn_id'])
    #if previous purchase is 1 change target variable to 0
    df_final.loc[df_final['previous_purchase?'] == 1, 'target_variable'] = 0
    return df_final

In [21]:
def creation_dataframe_and_own_features(df:pd.DataFrame) -> pd.DataFrame:
    #visits per user_pseudo_id
    df_visits = df.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'max'}).reset_index().rename(columns={'event_params_ga_session_number': 'visits_per_user_pseudo_id'})
    #pageviews per user_pseudo_id
    df_pageviews_filter = df[df['event_name']=='page_view'][['user_pseudo_id', 'event_name','event_date' ]]
    df_pageviews = pd.pivot_table(data=df_pageviews_filter, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'pageviews_per_user_pseudo_id'})
    #events per user_pseudo_id
    df_events = df.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'count'}).reset_index().rename(columns={'event_params_ga_session_number': 'events_per_visitor'})
    #engagement time per user_pseudo_id
    df_engagement_time = df.groupby('user_pseudo_id').agg({'event_params_engagement_time_msec':'sum'}).reset_index().rename(columns={'event_params_engagement_time_msec': 'engagement_time_per_visitor'})
    #clicks per user_pseudo_id
    df_clicks_filter = df[df['event_name']=='click'][['user_pseudo_id', 'event_name','event_date' ]]
    df_clicks = pd.pivot_table(data=df_clicks_filter, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'clicks_per_visitor'})
    #engagement per user_pseudo_id
    df_user_engagement_filter = df[df['event_name']=='user_engagement'][['user_pseudo_id', 'event_name','event_date' ]]
    df_user_engagements = pd.pivot_table(data=df_user_engagement_filter, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'user_engagements_per_visitor'})
    #scrollings per user_pseudo_id
    df_scrollings_filter = df[df['event_name']=='scroll'][['user_pseudo_id', 'event_name','event_date' ]]
    df_scrollings = pd.pivot_table(data=df_scrollings_filter, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'scrolls_per_visitor'})

    #Merge all of it
    df_level_user_pseudo_id = df_visits.merge(df_pageviews,on='user_pseudo_id', how='outer').merge(df_events,on='user_pseudo_id', how='outer').merge(df_engagement_time,on='user_pseudo_id', how='outer').merge(df_clicks,on='user_pseudo_id', how='outer').merge(df_user_engagements,on='user_pseudo_id', how='outer').merge(df_scrollings,on='user_pseudo_id', how='outer')
    return df_level_user_pseudo_id

In [22]:
df5 = creation_dataframe_and_own_features(df4)
df5.head()

,user_pseudo_id,visits_per_user_pseudo_id,pageviews_per_user_pseudo_id,events_per_visitor,engagement_time_per_visitor,clicks_per_visitor,user_engagements_per_visitor,scrolls_per_visitor
0,1000300.3223254236,2.0,1.0,6,1850.0,NaN,1.0,NaN
1,10011413.74446635,1.0,1.0,3,0.0,NaN,NaN,NaN
2,1001568.5746990412,3.0,4.0,13,51314.0,NaN,1.0,NaN
3,10016685.114057347,1.0,1.0,3,0.0,NaN,NaN,NaN
4,10023115.433086598,2.0,NaN,2,0.0,NaN,1.0,NaN

In [55]:
def features_part1_event_pagenames(df:pd.DataFrame) -> pd.DataFrame:
    #Categorize Page Titles
    df = page_category(df)
    #Create column with unique combinations
    df['unique_combinations'] = df['event_name']+ ' & ' +df['Page Category']
    df = df[['user_pseudo_id','unique_combinations', 'Page Category']]
    df = pd.pivot_table(df, values='Page Category', index='user_pseudo_id', columns='unique_combinations',aggfunc='count')
    df = df.reset_index()
    return df

In [56]:
df4.shape

(245150, 17)

In [57]:
features_part1_event_pagenames(df4)

unique_combinations,user_pseudo_id,add_payment_info & Payment Method,add_shipping_info & Checkout Your Information,add_shipping_info & Other,add_to_cart & Product Listing Page,begin_checkout & Checkout Your Information,begin_checkout & Other,click & Home,click & Information,click & Other,...,view_item & New Product Listing Page,view_item & Product Display Page,view_item & Product Listing Page,view_item & Sale Product Listing Page,view_item & Search Results,view_item_list & New Product Listing Page,view_item_list & Product Listing Page,view_promotion & Home,view_promotion & New Product Listing Page,view_search_results & Search Results
0,1000300.3223254236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,10011413.74446635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001568.5746990412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
3,10016685.114057347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10023115.433086598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16102,ABC90018117.34699883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16103,ABC90422982.2543893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16104,ABC9130640.2139762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16105,ABC91518233.27911039,2.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,2.0,NaN,NaN
16106,ABC91694984.19822846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df1.head(2)

In [ ]:
def convert_datatypes_filter(df):
    for column in df:
        if 'event_date' in column:
            df[column] = pd.to_datetime(df[column],yearfirst=True, format='%Y%m%d')
        if 'timestamp' in column:
            df[column] = pd.to_datetime(df[column], unit='us')
        if 'user_pseudo_id' in column:
            df[column] = df[column].astype(str)
    return df

In [ ]:
df2 = convert_datatypes_filter(df1)

In [ ]:
df2 = df2.copy()

In [ ]:
purchasers = list(df2[df2['event_name']=='purchase']['user_pseudo_id'].unique())
df2.loc[df2['user_pseudo_id'].isin(purchasers), 'target_variable'] = 1
df2['target_variable'] = df2.target_variable.fillna(0)

In [ ]:
def input_target_variable(df:pd.DataFrame) -> pd.DataFrame:
    #add target_variable column
    purchasers = list(df[df['event_name']=='purchase']['user_pseudo_id'].unique())
    df.loc[df['user_pseudo_id'].isin(purchasers), 'target_variable'] = 1
    df['target_variable'] = df.target_variable.fillna(0)
    df['target_variable'] = df['target_variable'].astype(int)
    return df

In [ ]:
df3 = input_target_variable(df2)

In [ ]:
df4= df3.copy()

In [ ]:
df4.shape

In [ ]:
df4.head()

In [ ]:
all_purchases = df4[df4['event_name']=='purchase']
all_purchases['amount_purchases'] = 1
df_amount_purchases = pd.pivot_table(data=all_purchases, index='user_pseudo_id', values='event_name', aggfunc='count').reset_index().rename(columns={'event_name': 'amount_purchases'})

In [ ]:
df_amount_purchases

In [ ]:
df5 = df4.merge(df_amount_purchases,on='user_pseudo_id', how='left').fillna(0)

In [ ]:
df5.head()

In [ ]:
all_purchases_timestamp = all_purchases[['user_pseudo_id','event_timestamp']]
first_purchase = pd.DataFrame(all_purchases_timestamp.groupby(['user_pseudo_id'])['event_timestamp'].agg('min').reset_index().rename(columns={'event_timestamp': 'date_first_purchase'}))

In [ ]:
first_purchase

In [ ]:
df6 = df5.merge(first_purchase, on='user_pseudo_id', how='left')

df6.head()

In [ ]:
df6['newcolumn_id'] = 'ABC' + df6[df6.event_timestamp > df6.date_first_purchase]['user_pseudo_id']

In [ ]:
len(df6['newcolumn_id'].value_counts())

In [ ]:
df6.head()

In [ ]:
df6.shape

In [ ]:
df7=df6.dropna(subset=['newcolumn_id'])

In [ ]:
df7.head()

In [ ]:
df7.shape

In [ ]:
df8 = df6[df6['newcolumn_id'].isna()]

In [ ]:
df8.shape

In [ ]:
df8.head()

In [ ]:
df1 = df.dropna(subset=['newcolumn_id'])
df2 = df1[df1['newcolumn_id'].isna()]
df2['newcolumn_id'] = df2['user_pseudo_id']

In [ ]:
d

In [ ]:
df_final = pd.concat([df8 , df7])

In [ ]:
df_final.head()

In [ ]:
def slicing_purchasers(df:pd.DataFrame) -> pd.DataFrame:
    #Create DF with amount purchases per User Pseudo Id
    all_purchases = df[df['event_name']=='purchase']
    all_purchases['amount_purchases'] = 1
    df_amount_purchases = pd.pivot_table(data=all_purchases, index='user_pseudo_id', values='event_name', aggfunc='count').reset_index().rename(columns={'event_name': 'amount_purchases'})
    #Merge with main DF
    df1 = df.merge(df_amount_purchases,on='user_pseudo_id', how='outer').fillna(0)
    df1['amount_purchases'] = df1['amount_purchases'].astype(int)
    #New column with timestamp of first purchase
    all_purchases_timestamp = all_purchases[['user_pseudo_id','event_timestamp']]
    first_purchase = pd.DataFrame(all_purchases_timestamp.groupby(['user_pseudo_id'])['event_timestamp'].agg('min').reset_index().rename(columns={'event_timestamp': 'date_first_purchase'}))
    #Merge with main DF
    df2 = df1.merge(first_purchase, on='user_pseudo_id', how='outer')
    #For the events of a user that happened after their first purchase, add a prefix (ABC)
    df2['newcolumn_id'] = 'ABC' + df2[df2.event_timestamp > df2.date_first_purchase]['user_pseudo_id']
    df3 = df2.dropna(subset=['newcolumn_id'])
    df2 = df2[df2['newcolumn_id'].isna()]
    df2 = df2.drop(columns=['newcolumn_id'])
    df4 = df3.drop(columns=['user_pseudo_id'])
    df4['user_pseudo_id'] = df4['newcolumn_id']
    df_final = pd.concat([df2 , df4])
    df_final.reset_index(inplace=True, drop=True)
    #include previous purchase column
    df_final['previous_purchase?'] = np.where(df_final['user_pseudo_id'].str.contains('ABC'), 1, 0)
    df_final = df_final.drop(columns=['newcolumn_id'])
    #if previous purchase is 1 change target variable to 0
    df_final.loc[df_final['previous_purchase?'] == 1, 'target_variable'] = 0
    return df_final

In [ ]:
slicing_purchasers(df4).sort_values(by='amount_purchases', ascending=False).head(100)

In [ ]:
def input_target_variable(df:pd.DataFrame) -> pd.DataFrame:
    #add target_variable column
    df['target_variable'] = None
    #create a list with all purchasers
    purchasers = list(df[df['event_name']=='purchase']['user_pseudo_id'])
    for i in purchasers:
        for index, row in df[df['user_pseudo_id']==i].iterrows():
            df['target_variable'].iloc[index]=1
     #Fill the NaNs with 0s
    df['target_variable'] = df.target_variable.fillna(0)
    return df

In [ ]:
df1 = input_target_variable(df)

In [ ]:
df1

In [ ]:
def slicing_purchasers(df:pd.DataFrame) -> pd.DataFrame:
    df['event_timestamp'] = pd.to_datetime(df['event_timestamp'], unit='us')
    df['user_pseudo_id'] = df.user_pseudo_id.astype(float)
    df['user_pseudo_id'] = df['user_pseudo_id'].map('{:.7f}'.format)
    all_purchases = df[df['event_name']=='purchase']
    all_purchases['amount_purchases'] = 1
    df_amount_purchases = pd.pivot_table(data=all_purchases, index='user_pseudo_id', values='event_name', aggfunc='count').reset_index().rename(columns={'event_name': 'amount_purchases'})
    new_df = df.merge(df_amount_purchases,on='user_pseudo_id', how='outer').fillna(0)
    first_purchase = new_df[new_df['event_name']=='purchase'][['user_pseudo_id','event_timestamp']]
    first_purchase_groupedmax = first_purchase.groupby(['user_pseudo_id'])['event_timestamp'].agg('min')
    first_purchase_groupedmax
    new_new_df = new_df.merge(first_purchase_groupedmax, on='user_pseudo_id', how='outer').sort_values(by=['amount_purchases'], ascending=False)
    new_new_df['newcolumn_id'] = 'ABC' + new_new_df[new_new_df.event_timestamp_x > new_new_df.event_timestamp_y]['user_pseudo_id']
    new_new_new_df = new_new_df.dropna(subset=['newcolumn_id'])
    new_new_new_new_df = new_new_df[new_new_df['newcolumn_id'].isna()]
    new_new_new_new_df['newcolumn_id'] = new_new_new_new_df['user_pseudo_id']
    final = pd.concat([new_new_new_df , new_new_new_new_df])
    final.reset_index(inplace=True, drop=True)
    final['previous_purchase?']=  np.where(final['newcolumn_id'].str.contains('ABC'), 1, 0)
    final.drop(columns=['user_pseudo_id'], inplace=True)
    final['user_pseudo_id'] = final['newcolumn_id']
    final.drop(columns=['newcolumn_id'], inplace=True)
    return final

In [ ]:
slicing_purchasers(df1)

In [ ]:
df1

In [ ]:
df1['user_pseudo_id'] = df1.user_pseudo_id.astype(float)

In [ ]:
df1['user_pseudo_id'] = df1['user_pseudo_id'].map('{:.7f}'.format)

In [ ]:
all_purchases = df1[df1['event_name']=='purchase']
all_purchases['amount_purchases'] = 1
all_purchases

In [ ]:
df_amount_purchases = pd.pivot_table(data=all_purchases, index='user_pseudo_id', values='event_name', aggfunc='count').reset_index().rename(columns={'event_name': 'amount_purchases'})
df_amount_purchases

In [ ]:
new_df = df1.merge(df_amount_purchases,on='user_pseudo_id', how='outer').fillna(0)

In [ ]:
new_df.sort_values(by=['amount_purchases'], ascending=False)

In [ ]:
new_df['date_first_purchase'] = first_purchase_groupedmax

In [ ]:
first_purchase = new_df[new_df['event_name']=='purchase'][['user_pseudo_id','event_timestamp']]
first_purchase_groupedmax = first_purchase.groupby(['user_pseudo_id'])['event_timestamp'].agg('min')
first_purchase_groupedmax
#last_event.rename(columns={'event_timestamp':'event_timestamp_purchase'},inplace=True)

In [ ]:
new_new_df = new_df.merge(first_purchase_groupedmax, on='user_pseudo_id', how='outer').sort_values(by=['amount_purchases'], ascending=False)
new_new_df

In [ ]:
#np.where(new_new_df[new_new_df.event_timestamp_x > new_new_df.event_timestamp_y], 'ABC' + new_new_df[new_new_df.event_timestamp_x > new_new_df.event_timestamp_y]['user_pseudo_id'],['user_pseudo_id'])

In [ ]:
#if new_new_df[new_new_df.event_timestamp_x > new_new_df.event_timestamp_y]:
#    'ABC' + new_new_df['user_pseudo_id']
#else:
#    pass

In [ ]:
len('ABC' + new_new_df[new_new_df.event_timestamp_x > new_new_df.event_timestamp_y]['user_pseudo_id'].unique())

In [ ]:
new_new_df['newcolumn_id'] = 'ABC' + new_new_df[new_new_df.event_timestamp_x > new_new_df.event_timestamp_y]['user_pseudo_id']

In [ ]:
new_new_new_df = new_new_df.dropna(subset=['newcolumn_id'])
new_new_new_df

In [ ]:
new_new_new_new_df = new_new_df[new_new_df['newcolumn_id'].isna()]
new_new_new_new_df['newcolumn_id'] = new_new_new_new_df['user_pseudo_id']

In [ ]:
final = pd.concat([new_new_new_df , new_new_new_new_df])

In [ ]:
new_new_df.shape

In [ ]:
#new_new_df.loc[new_new_df[new_new_df.event_timestamp_x > new_new_df.event_timestamp_y], new_new_df['user_pseudo_id']] = 'ABC' + new_new_df['user_pseudo_id']

In [ ]:
final.reset_index(inplace=True, drop=True)

In [ ]:
final

In [ ]:
final['previous_purchase?']=  np.where(final['newcolumn_id'].str.contains('ABC'), 1, 0)
final

In [ ]:
len(final['newcolumn_id'].unique())

In [ ]:
len(final['user_pseudo_id'].unique())

In [ ]:
final

In [ ]:
# abcd = 'A' + XYZ['user_pseudo_id']

In [ ]:
new_new_df[new_new_df.event_timestamp_x > new_new_df.event_timestamp_y]['user_pseudo_id']

In [ ]:
new_new_df[new_new_df['user_pseudo_id']=='10295267.8818269']

In [ ]:
new_df.sort_values(by=['amount_purchases'], ascending=False)

In [ ]:
def delete_transactions_after_purchase(df:pd.DataFrame) -> pd.DataFrame:
    #Make the timestamp a timestamp
    df['event_timestamp'] = pd.to_datetime(df['event_timestamp'], unit='us')
    #Create a new DF with the timestamp of purchase
    last_event = df[df['event_name']=='purchase'][['user_pseudo_id','event_timestamp']]
    last_event.rename(columns={'event_timestamp':'event_timestamp_purchase'},inplace=True)
    #Merge last_event with df
    df = df.merge(last_event, on='user_pseudo_id', how='left')
    #Drop all rows with 'event_timestamp' > 'event_timestamp_purchase'
    df = df.drop(df[df.event_timestamp > df.event_timestamp_purchase].index)
    return df

In [ ]:
TEEEST = new_df[new_df['event_name']=='purchase'] [['event_params_ga_session_id' , 'user_pseudo_id', 'event_params_ga_session_number', 'event_name']]
TEEEST

In [ ]:
pd.pivot_table(data=TEEEST, index='user_pseudo_id', values='event_name', columns='event_params_ga_session_number' ,aggfunc='count')

In [ ]:
test = new_df[new_df['user_pseudo_id']=='10295267.8818269']
test

In [ ]:
test['event_params_ga_session_number'].max()

In [ ]:
test

In [ ]:
df1[df1['user_pseudo_id']=='10295267.8818269']

In [ ]:
df1 = input_target_variable(df)
df1

In [ ]:
df1['event_name'].unique()

In [ ]:
df1.columns

In [ ]:
df1['user_pseudo_id'].dtypes

In [ ]:
df1['user_pseudo_id'] = df1['user_pseudo_id'].map('{:.7f}'.format)

In [ ]:
df1[df1['event_name']=='purchase'][['user_pseudo_id','event_params_ga_session_number']]

In [ ]:
10295267.8818269

In [ ]:
dfzzz = dfzzz[dfzzz['user_pseudo_id']=='10295267.8818269'][['event_timestamp','event_name','event_params_ga_session_number','event_params_ga_session_id','ecommerce_total_item_quantity','ecommerce_unique_items', 'target_variable']]

In [ ]:
dfzzz = dfzzz[dfzzz['event_name'] == 'purchase'][['event_timestamp','event_name','event_params_ga_session_number','event_params_ga_session_id','ecommerce_total_item_quantity','ecommerce_unique_items','target_variable']]

In [ ]:
dfzzz.sort_values(by=['event_timestamp']).sort_values(by=['event_timestamp'])

In [ ]:
df_x1 = df1[df1['user_pseudo_id']=='10295267.8818269'][['event_timestamp','event_name','event_params_ga_session_number','event_params_ga_session_id','ecommerce_total_item_quantity','ecommerce_unique_items', 'target_variable']]

In [ ]:
df_x1['event_timestamp'] = pd.to_datetime(df_x1['event_timestamp'], unit='us')

In [ ]:
df_x2 = df_x1[df_x1['event_name'] == 'purchase'][['event_timestamp','event_name','event_params_ga_session_number','event_params_ga_session_id','ecommerce_total_item_quantity','ecommerce_unique_items','target_variable']]

In [ ]:
df_x2.sort_values(by=['event_timestamp'])

In [ ]:
# if purchase count is => 1 where GASession ID(0) = GASessionID(0) --> Create a columns with a 1!
# if purchase count is => 1 where GASession ID(0) =! GASessionID(1) --> Create a another columns with a 1!

In [ ]:
#did the user had purchases in 1 different session

df1['previous_transaction'] = None

In [ ]:
def delete_transactions_after_purchase(df:pd.DataFrame) -> pd.DataFrame:
    #Make the timestamp a timestamp
    df['event_timestamp'] = pd.to_datetime(df['event_timestamp'], unit='us')
    #Create a new DF with the timestamp of purchase
    last_event = df[df['event_name']=='purchase'][['user_pseudo_id','event_timestamp']]
    last_event.rename(columns={'event_timestamp':'event_timestamp_purchase'},inplace=True)
    #Merge last_event with df
    df = df.merge(last_event, on='user_pseudo_id', how='left')
    #Drop all rows with 'event_timestamp' > 'event_timestamp_purchase'
    df = df.drop(df[df.event_timestamp > df.event_timestamp_purchase].index)
    return df

In [ ]:
df2 = delete_transactions_after_purchase(df1)
df2

In [ ]:
def creation_dataframe_and_own_features_(df:pd.DataFrame) -> pd.DataFrame:
    #visits per user_pseudo_id
    df_visits = df.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'max'}).reset_index().rename(columns={'event_params_ga_session_number': 'visits_per_user_pseudo_id'})
    #pageviews per user_pseudo_id
    df_pageviews_filter = df[df['event_name']=='page_view'][['user_pseudo_id', 'event_name','event_date' ]]
    df_pageviews = pd.pivot_table(data=df_pageviews_filter, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'pageviews_per_user_pseudo_id'})
    #events per user_pseudo_id
    df_events = df.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'count'}).reset_index().rename(columns={'event_params_ga_session_number': 'events_per_visitor'})
    #engagement time per user_pseudo_id
    df_engagement_time = df.groupby('user_pseudo_id').agg({'event_params_engagement_time_msec':'sum'}).reset_index().rename(columns={'event_params_engagement_time_msec': 'engagement_time_per_visitor'})
    #clicks per user_pseudo_id
    df_clicks_filter = df[df['event_name']=='click'][['user_pseudo_id', 'event_name','event_date' ]]
    df_clicks = pd.pivot_table(data=df_clicks_filter, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'clicks_per_visitor'})
    #engagement per user_pseudo_id
    df_user_engagement_filter = df[df['event_name']=='user_engagement'][['user_pseudo_id', 'event_name','event_date' ]]
    df_user_engagements = pd.pivot_table(data=df_user_engagement_filter, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'user_engagements_per_visitor'})
    #scrollings per user_pseudo_id
    df_scrollings_filter = df[df['event_name']=='scroll'][['user_pseudo_id', 'event_name','event_date' ]]
    df_scrollings = pd.pivot_table(data=df_scrollings_filter, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'scrolls_per_visitor'})

    #Merge all of it
    df_level_user_pseudo_id = df_visits.merge(df_pageviews,on='user_pseudo_id', how='outer').merge(df_events,on='user_pseudo_id', how='outer').merge(df_engagement_time,on='user_pseudo_id', how='outer').merge(df_clicks,on='user_pseudo_id', how='outer').merge(df_user_engagements,on='user_pseudo_id', how='outer').merge(df_scrollings,on='user_pseudo_id', how='outer')
    return df_level_user_pseudo_id

In [ ]:
df3 = creation_dataframe_and_own_features_(df2)
df3

In [ ]:
def features_part1_event_pagenames(df:pd.DataFrame) -> pd.DataFrame:
    #Categorize Page Titles
    df = page_category(df)
    #Create column with unique combinations
    df['unique_combinations'] = df['event_name']+ ' & ' +df['Page Category']
    df = df.set_index('user_pseudo_id')
    df = df[['unique_combinations', 'Page Category']]
    df = pd.pivot_table(df, values='Page Category', index='user_pseudo_id', columns='unique_combinations',aggfunc='count')
    return df

In [ ]:
df4 = features_part1_event_pagenames(df)
df4

In [ ]:
df_merge = df4.merge(df3, how='outer',on='user_pseudo_id')

In [ ]:
df_merge

## Input Target Variable

In [ ]:
purchasers = list(df[df['event_name']=='purchase']['user_pseudo_id'])

In [ ]:
purchasers

In [ ]:
df['target_variable'] = None

In [ ]:
for i in purchasers:
    for index, row in df[df['user_pseudo_id']==i].iterrows():
        df['target_variable'].iloc[index]=1

In [ ]:
df['target_variable'] = df.target_variable.fillna(0)

In [ ]:
df[df['event_name']=='purchase']

In [ ]:
df['target_variable'].value_counts()

In [ ]:
list_y = list(set(df['target_variable'].values))
list_y = list_y.remove(0)
df['target_variable'] = df['target_variable'].replace(to_replace=list_y, value = 1)

## Deleteing Transactions after purchase

In [ ]:
len(df)

In [ ]:
df.columns

In [ ]:
test1 = df[df['event_params_engagement_time_msec']>0][['user_pseudo_id','event_params_engagement_time_msec']]

In [ ]:
pd.DataFrame(test1).sort_values

In [ ]:
df['event_timestamp'] = pd.to_datetime(df['event_timestamp'], unit='us')

In [ ]:
df['event_date'] = pd.to_datetime(df['event_date'],yearfirst=True, format='%Y%m%d')

In [ ]:
df.head()

In [ ]:
last_event = df[df['event_name']=='purchase'][['user_pseudo_id','event_timestamp']]
last_event

In [ ]:
df_merge = df.merge(last_event, on='user_pseudo_id', how='outer')

In [ ]:
df_merge

In [ ]:
df_merge[df_merge['event_name']=='purchase']

In [ ]:
df_merge.shape

In [ ]:
df_merge['event_timestamp_y'].value_counts()

In [ ]:
df_merge

In [ ]:
df_new = df_merge.drop(df_merge[df_merge.event_timestamp_x > df_merge.event_timestamp_y].index)

In [ ]:
df_new.shape

In [ ]:
df_new[df_new['event_name']=='purchase']

In [ ]:
#For timestamp at which the purchase happened, delete everything that happened after it for the pseudo_id

In [ ]:
#def convert_date_timestamps(df):
#    for column in df:
#        if 'event_date' in column:
#            df[column] = pd.to_datetime(df[column])
#        if 'event_timestamp' in column:
#            df[column] = pd.to_datetime(df[column], unit='us')
#   return df

In [ ]:
#convert_date_timestamps(df)

In [ ]:
#def convert_date_timestamps(df):
#    for column in df:
#        if 'date' in column:
#            df[column] = pd.to_datetime(df[column])
#        if 'timestamp' in column:
#            df[column] = pd.to_datetime(df[column], unit='us')
#    return df

In [ ]:
#for i in df:
#    print(i ,  df[i].nunique())

## Get delete the Time Columns

In [ ]:
df.columns

In [ ]:
df_new_timefeatures = df_new[['event_name','user_pseudo_id','event_date', 'event_timestamp_x', 'user_first_touch_timestamp', 'event_params_ga_session_number', 'event_params_ga_session_id','target_variable', 'event_params_engagement_time_msec' ]]

In [ ]:
df_new_timefeatures.head()

In [ ]:
df_visits_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'max'}).reset_index().rename(columns={'event_params_ga_session_number': 'visits_per_visitor'})

In [ ]:
df_visits_per_visitor

In [ ]:
df_visits_per_visitor.sort_values(by='event_params_ga_session_number' ,ascending=True)

In [ ]:
df_pageviews = df_new_timefeatures[df_new_timefeatures['event_name']=='page_view'][['user_pseudo_id', 'event_name','event_date' ]]
df_pageviews

In [ ]:
df_pageviews_per_visitor = pd.pivot_table(data=df_pageviews, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'page_views'})

In [ ]:
df_pageviews_per_visitor

In [ ]:
df_events_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_ga_session_number':'count'}).reset_index().rename(columns={'event_params_ga_session_number': 'events_per_visitor'})

In [ ]:
df_events_per_visitor

In [ ]:
df_new_timefeatures

In [ ]:
df_engagement_time_per_visitor = df_new_timefeatures.groupby('user_pseudo_id').agg({'event_params_engagement_time_msec':'sum'}).reset_index().rename(columns={'event_params_engagement_time_msec': 'engagement_time_per_visitor'})

In [ ]:
df_engagement_time_per_visitor

In [ ]:
df_clicks = df_new_timefeatures[df_new_timefeatures['event_name']=='click'][['user_pseudo_id', 'event_name','event_date' ]]

In [ ]:
df_clicks_per_visitor = pd.pivot_table(data=df_clicks, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'clicks'})

In [ ]:
df_clicks_per_visitor

In [ ]:
df_user_engagement = df_new_timefeatures[df_new_timefeatures['event_name']=='user_engagement'][['user_pseudo_id', 'event_name','event_date' ]]

In [ ]:
df_user_engagements_visitor = pd.pivot_table(data=df_user_engagement, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'user_engagements'})

In [ ]:
df_user_engagements_visitor

In [ ]:
df_scrollings = df_new_timefeatures[df_new_timefeatures['event_name']=='scroll'][['user_pseudo_id', 'event_name','event_date' ]]

In [ ]:
df_scrollings_visitor = pd.pivot_table(data=df_scrollings, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'scrolls'})

In [ ]:
df_scrollings_visitor

## JOINING for Basic Model

In [ ]:
df_new_timefeatures

In [ ]:
df_for_target_variable = df_new_timefeatures.groupby(by='user_pseudo_id').sum()
df_for_target_variable

In [ ]:
df_new_byvisitors = df_visits_per_visitor.merge(df_pageviews_per_visitor,on='user_pseudo_id', how='outer').merge(df_events_per_visitor,on='user_pseudo_id', how='outer').merge(df_engagement_time_per_visitor,on='user_pseudo_id', how='outer').merge(df_clicks_per_visitor,on='user_pseudo_id', how='outer').merge(df_user_engagements_visitor,on='user_pseudo_id', how='outer').merge(df_scrollings_visitor,on='user_pseudo_id', how='outer').merge(df_for_target_variable[['target_variable']], how='left',on='user_pseudo_id')

In [ ]:
df_new_byvisitors

In [ ]:
df_new_byvisitors[df_new_byvisitors['target_variable'] > 0]

In [ ]:
#import os  
#os.makedirs('/home/alex/code/alexhalenke/', exist_ok=True)  
#df_new_byvisitors.to_csv('/home/alex/code/alexhalenke/first_basic_model.csv')

## One Hot Encoding

In [ ]:
df.columns

In [ ]:
df_ohe = df_new.drop(columns=['event_date', 'event_timestamp_x', 'user_first_touch_timestamp', 'event_params_ga_session_number', 'event_params_ga_session_id','target_variable', 'event_params_engagement_time_msec'], axis=1)

In [ ]:
len(df_ohe['event_name'].unique())

In [ ]:
16*343

In [ ]:
len(df_ohe['event_params_page_title'].unique())

In [ ]:
len(df_ohe_new['event_params_page_title'].unique())

In [ ]:
df_ohe_new = page_category(df_ohe)

In [ ]:
df_ohe_new

In [ ]:
df_ohe.groupby(['event_name','event_params_page_title']).count()

In [ ]:
mygroupedcolumns = pd.DataFrame(df_ohe.groupby(['user_pseudo_id','event_name','event_params_page_title'],as_index=True).count().reset_index())

In [ ]:
type(mygroupedcolumns)

In [ ]:
mygroupedcolumns

In [ ]:
page_category(mygroupedcolumns)

In [ ]:
df_ohe_new

In [ ]:
df_ohe_new['unique_combinations'] = df_ohe_new['event_name']+ ' & ' +df_ohe_new['Page Category']

In [ ]:
len(df_ohe_new['unique_combinations'].unique())

In [ ]:
mygroupedcolumns = df_ohe_new.drop(columns=['event_name','event_params_page_title'])

In [ ]:
mygroupedcolumns_index = mygroupedcolumns.set_index('user_pseudo_id')

In [ ]:
len(mygroupedcolumns_index['unique_combinations'].unique())

In [ ]:
mygroupedcolumns_index = mygroupedcolumns_index.reset_index()

In [ ]:
final_version_today = mygroupedcolumns_index[['user_pseudo_id','unique_combinations', 'Page Category']]

In [ ]:
#pd.pivot_table(data=mygroupedcolumns_index, index='user_pseudo_id', columns='event_name', aggfunc='count').droplevel(level=1, axis=1).reset_index().rename(columns={'event_date': 'scrolls'})

In [ ]:
len(final_version_today['unique_combinations'].unique())

In [ ]:
final_version_today

In [ ]:
First_Final_DataSet = pd.pivot_table(final_version_today, values='Page Category', index='user_pseudo_id', columns='unique_combinations',aggfunc='count')

In [ ]:
#pd.pivot_table(data=mygroupedcolumns_index, index=['user_pseudo_id'], columns=[['unique_combinations']], aggfunc='count')

In [ ]:
mygroupedcolumns.pivot(columns=['user_pseudo_id'])

In [ ]:
mygroupedcolumns.pivot(columns=['event_name'])

In [ ]:
df_ohe.groupby(['user_pseudo_id']).count()

In [ ]:
df_ohe = df_ohe[['event_name','user_pseudo_id','event_params_page_title']]

In [ ]:
df_pivoting = pd.pivot_table(data=df_ohe, index='user_pseudo_id', columns=['event_name','event_params_page_title'], aggfunc='count')

In [ ]:
First_Final_DataSet = First_Final_DataSet.merge(df_new_byvisitors,on='user_pseudo_id', how='left')

In [ ]:
First_Final_DataSet

In [ ]:
pwd

In [ ]:
import os  

os.makedirs('/home/alex/code/alexhalenke/', exist_ok=True)  
First_Final_DataSet.to_csv('/home/alex/code/alexhalenke/out.csv')

In [ ]:
from Predicting_Purchase_Intention.utils.get_dataframe import feature_engineering

In [ ]:
from Predicting_Purchase_Intention.utils.get_dataframe import feature_engineering